[2020-08-31 18:01] joey-coleman opened #418 "HTTPS/TLS Support in tusd"
**Is your feature request related to a problem? Please describe.**

We (Kira Systems) would like to use tusd as a component in our application, and although it will actually would be proxied (and load balanced, and so forth), our problem is that we cannot have a “gap” between the proxy and tusd. Using apache/nginx/haproxy/etc as a TLS-terminator leaves the connection between the proxy and tusd as

[2020-09-01 20:16] DeanKamali commented on #277
Hey everyone,

I know that this ticket has been closed, I'm having the same issue, @kiloreux  where exactly do you apply this configMap? I have tried to apply it on Nginx Ingress controller namespace but it didn't change the behavior I'm seeing.

[2020-09-02 15:30] vaughanj10 opened #419 "Index out of range error during FinishUpload"
**Describe the bug**
I am running a tusd server in a production Kubernetes cluster. This server is currently successfully handling ~15,000 uploads per day. I have noticed that for about ~0.5% of uploads during the `FinishUpload` step, we receive the following error `panic serving *.*.*.*:*: runtime error: index out of range`.  The relevant stack trace leads me to believe it is occurring at this li

[2020-09-02 16:12] vaughanj10 opened #420 "Potential memory leak"
**Describe the bug**
I am running a tusd server in a production Kubernetes cluster. This server is currently successfully handling ~15,000 uploads per day averaging 300KB each, so about 4.5 GB total per day. When watching the memory usage over the course of a day, I have noticed the memory only ticks upwards and never seems to fully release any memory. Example of memory usage over 1 day:

![image]

[2020-09-04 08:16] zxl777 opened #421 "https://master.tus.io/files/ The certificate has expired."
https://master.tus.io/files/
The certificate has expired.

[2020-09-04 19:36] alameenlr opened #422 "Respond with Status 204 while Resume Upload!!"
**204(No Content) While Resuming Upload**
Request to upload is accepted and started the uploading. I've Paused the Upload manually. The Developers Network tab shows the response of

Then I resumed the Upload,Network tab shows the response

**To Reproduce**
_Pause the Upload, Then Resume_

**Expected behavior**
_It must be resumed_

**Setup details**
- Operating System: Ubuntu 18
- Used tusd versio

[2020-09-05 02:55] zxl777 commented on #421
Fixed! Thank you.

[2020-09-05 19:20] alameenlr commented on #422
`[tusd] 2020/09/05 19:13:20 event="RequestIncoming" method="POST" path=""`
`[tusd] 2020/09/05 19:13:20 event="HookInvocationStart" type="pre-create" id=""`
`[tusd] 2020/09/05 19:13:20 event="HookInvocationFinish" type="pre-create" id=""`
`[tusd] 2020/09/05 19:13:20 event="UploadCreated" id="bd0a7474fef080f329f794216c3ba8b5" size="102354212" url="http://tus.mydomain.com/files/bd0a7474fef080f329f794

[2020-09-07 06:47] Acconut commented on #422
It's suspicious that the logs show a GET request when it should be a HEAD request:

Seems like your proxy is not correctly configured. Can you ensure that it properly passes through HEAD requests to tusd?

[2020-09-07 08:41] Acconut commented on #421
Thanks for letting us know :)

[2020-09-07 08:41] #421 closed

[2020-09-07 09:29] Acconut commented on #392
Closed by #411

[2020-09-07 09:29] #392 closed

[2020-09-07 09:30] Acconut commented on #390
Closing this issue due to inactivity. Feel free to leave a comment if you want to continue the discussion :)

[2020-09-07 09:30] #390 closed

[2020-09-07 09:30] #393 closed

[2020-09-07 09:31] Acconut commented on #374
Closing this issue due to inactivity. Feel free to leave a comment if you want to continue the discussion :)

[2020-09-07 09:31] Acconut commented on #368
Closing this issue due to inactivity. Feel free to leave a comment if you want to continue the discussion :)

[2020-09-07 09:31] #368 closed

[2020-09-07 09:31] Acconut commented on #367
Closing this issue due to inactivity. Feel free to leave a comment if you want to continue the discussion :)

[2020-09-07 09:31] #367 closed

[2020-09-07 09:31] Acconut commented on #356
Closing this issue due to inactivity. Feel free to leave a comment if you want to continue the discussion :)

[2020-09-07 09:32] Acconut commented on #334
Closing this issue due to inactivity. Feel free to leave a comment if you want to continue the discussion :)

[2020-09-07 09:32] #334 closed

[2020-09-07 09:38] Acconut commented on #420
Thanks for reporting. I haven't seen this for our production tusd servers. What metric is the graph actually showing? Is that total memory used by a container? Or are those numbers from the `/metrics` endpoint (see https://master.tus.io/metrics)? Are you sure there is no other process running next to tusd causing memory usage?

[2020-09-07 09:47] Acconut commented on #418
Interesting requirement. tusd can also listen on a UNIX socket, so no TCP network is used. Does that help in your case?

If not, please open a PR. Please also research if we should supply a custom TLS configuration for ServeTLS (such as in https://github.com/denji/golang-tls#perfect-ssl-labs-score-with-go) or if the default values are sensible.

[2020-09-07 09:56] Acconut commented on #419
Thanks for the report. Out of my head, I don't know what could cause this. Maybe @tab1293, who wrote the original GCS implementation, has an idea.

Did you try uploading an empty file (with a size of 0) to reproduce this bug? Can you show the logs from tusd for these request causing this panic?

[2020-09-07 18:00] sripberger commented on #390
Apologies for the inactivity, I somehow missed my notifications for your original comment back in May.

So if it helps, let me state the problem more directly.

When an upload completes, tusd hooks can be used to create a new record in one's database to associate with the completed upload. This, as far as I can tell, seems to be a primary use case for tusd hooks, so correct me if I'm wrong but I d

[2020-09-07 20:01] alameenlr commented on #422
This is the Request

![Capture2](https://user-images.githubusercontent.com/50786913/92414573-7c2b4e00-f172-11ea-8101-4c0c44eb316a.JPG)

This is the head Request, Tusd Server Hosted from aws ec2.

[2020-09-07 20:03] alameenlr commented on #422
This is the Request

![Capture1](https://user-images.githubusercontent.com/50786913/92414711-1ab7af00-f173-11ea-91e2-e9a75effe4fd.JPG)

Tusd Server Hosted from aws ec2.

[2020-09-07 20:09] joey-coleman commented on #418
The UNIX socket solution would only work sometimes for us — I don't have the details to hand, but I recall there was a hook there. It's certainly easier for us to contemplate contributing code ;).

I'll work up a full PR and get it posted soon. It will likely have a few options for TLS configuration: I had been thinking in the intervening time that, as far as as options go, disabling ≤TLSv1.1 by d

[2020-09-08 08:18] Acconut commented on #422
Did you check that your proxy properly passes through HEAD requests to tusd? If not, you have to do so or we cannot help you.

[2020-09-08 08:20] Acconut commented on #418
Sounds good :+1: Looking forward to your contributions :)

[2020-09-08 08:45] Acconut commented on #390
Exactly, that is the solution I was mentioning. The reason for suggesting this approach is that (IMO) one should not use an identifier issued by system A (e.g. tusd) as the primary identifier in system B (e.g. your main application). That's a basic rule I always follow for my system designs. However, I think there is more important discussion in here:

First of all, it's not our intention to purpo

[2020-09-08 09:40] alameenlr commented on #422
I've tested without Domain (Direct to server xxx.xxx.xxx.xxx:1080) it is working. Do you have any Idea to solve this problem. I

[2020-09-08 09:44] Acconut commented on #422
That shows that the problem is caused by the proxy. You must make sure that it properly passes through HEAD requests, which it does not. It turns the HEAD request into a GET request which is wrong. I don't know what proxy you are using, so I cannot help you there.

[2020-09-08 15:27] rbastic commented on #343
Sensible. Do you have any preferences for a package or approach to use? I'm assuming we are referring to 'exponential retry' in this context. Any advice on what files/lines may be a good start would be much appreciated.

[2020-09-09 05:28] alameenlr commented on #422
Ok, I understand.

**`Request URL`**: `http://xxx.xxx.xxx.xxx:1080/files/6b746dad11aeb231d61ba95808dfca85+pzZoRfEqg50Zso4xG5RLpHmF7C9PNW7aVdiEgtJ2w1km9nBO2hxkxZl3rEQtKBs4cbif5mLXXoyyz6L5yB6bFFvFV4SFzx_AQVSVk8Hq-aW4sZ4nj4dKs2Q3v4J8i93l`
**`Request Method`**: `HEAD`
**`Status Code`**:` 423 Locked`

What's the meaning of this!!!?

[2020-09-10 09:06] Acconut commented on #422
Everything works as intended. The client wants to resume but the server is still taking care of saving the data from the previously upload request. You must enable retryDelays in tus-js-client, so I can automatically retry.

[2020-09-10 09:14] Acconut commented on #343
I think we should first investigate whether we can use the retry logic in the AWS / GCS SDK before implementing our own retry logic. AWS already seems to have something in place: https://docs.aws.amazon.com/sdk-for-go/api/aws/client/#pkg-constants GCS as well: https://github.com/googleapis/google-cloud-go/blob/e4304e858fa0304fcf2dfd761ad4680cb0500ff1/storage/invoke.go#L26 So am unsure if we even n

[2020-09-10 09:53] #422 closed

[2020-09-10 16:00] joey-coleman commented on #418
PR opened :).

The one open item on my end is that I'm still researching the consequences of including the `tls.TLS_RSA_WITH_AES_256_GCM_SHA384` and `tls.TLS_RSA_WITH_AES_128_GCM_SHA256` ciphersuites (which use RSA-based key exchange instead of ECDHE).  The `testssl.sh` checker says it's not vulnerable to the "ROBOT" attack, and SSL Labs is ok with it (per denji's link, above); that said, [Mozilla

[2020-09-10 16:12] joey-coleman commented on #418
PR updated; the RSA-based key transport ciphersuites removed; Mozilla excludes them because they don't support Forward Secrecy.

[2020-09-11 07:18] prabhatsrikant opened #424 "Upload file using Lambda function"
Hi,

I have used tus-js client in my frontend. And trying upload in S3 through a lambda function.
I unable to find a suitable lambda code to accept the file content at the lambda side.
Can you please help with sample code.

Thanks

[2020-09-14 10:25] Acconut commented on #424
tusd is not intended to be run inside Lambda. We experimented with Lambda some time ago but at that time its request body limit of a few megabytes made it not feasible for uploading larger files. So I cannot provide you with any example.

[2020-09-14 11:27] prabhatsrikant commented on #424
Thanks for the reply.

[2020-09-14 11:27] #424 closed

[2020-09-14 13:52] rbastic commented on #343
Thanks for following up more - good find! I wasn't aware of this at all.

I'll review this further and get back to you soon.

[2020-09-14 17:39] sripberger commented on #390
I'm not sure I understand the reasoning behind this. If they are generated in the same way, there's no need to introduce that additional complexity. This is the precise reason the UUID standard even exists.

By no means do I imagine you guys chose not to follow the standard with the express purpose of annoying me, though. I'm just hoping to make my case for standards compliance and how it can make

[2020-09-15 15:14] Acconut commented on #390
Thank you for also understanding our side of the story :)

[2020-09-15 15:24] Acconut commented on #418
I am fine with that move. We don't have to maintain backwards compatibility here so let's not include ciphers which should not be used. Thank you very much for the efforts!

[2020-09-16 10:01] thedevhaider commented on #386
Hey Guys, Any update on this issue as I am looking for a way to whitelist the origins. Usually, we have a tus server running on a separate machine. So, It becomes necessary to whitelist some domains.

[2020-09-16 17:50] Acconut commented on #386
Unfortunately, there is no update. You still have to use a proxy if you want custom CORS headers. We are open for PRs, though :)

[2020-09-21 02:22] vikashvverma opened #427 "Sending metadata once upload is done"
**Question**
We need to send some custom metatdata once the upload finishes i.e. when final chunk gets uploaded. It can be some custom header as well.

**Setup details**
Please provide following details, if applicable to your situation:
- Operating System: macOS
- Used tusd version: v1.0.2
- Used tusd data storage: AWS S3
- Used tusd configuration: x
- Used tus client library: tus-js-client, tus-j

[2020-09-21 12:34] Acconut commented on #427
tusd does not have such a feature yet. As of right now, it cannot send custom data back to the client. You would have to implement your own endpoint, so the client can fetch this metadata.

[2020-09-22 10:07] 0sander opened #428 "pre-create hook not being executed"
**Question**
I am using tusd with the tus-js-client. I have two hooks files, one for _pre-create_ and one _post-finish_. Both files have the same permissions. While _post-finish_ is working the _pre-create_ hook is not fired.

Logfile output:
[code]

pre-create Python script:
[code]

I found a similar report here: https://stackoverflow.com/questions/60795064/tusd-pre-create-hook-not-being-called

[2020-09-22 19:33] Acconut commented on #428
The pre-create hook is invoked but its output is not forwarded to tusd's stdout. You can see its execution from the logs:

Sep 22 11:59:58 tusd[45098]: [tusd] 2020/09/22 11:59:58 event="HookInvocationFinish" type="pre-create" id=""

Since pre-create is a blocking hook, only its stderr will be piped to tusd's output. The output from stdout is not forwarded. The documentation does right now not addr

[2020-09-24 19:24] 0sander commented on #428
Thanks for your quick and very helpful reply. Sending the output to stderr did the trick.

[2020-09-24 19:24] #428 closed

[2020-09-28 09:23] Acconut commented on #420
Closing this issue due to a lack of information. Feel free to leave a comment if you want to continue the discussion :)

[2020-09-28 09:24] Acconut commented on #420
FYI, I had a look at our production tusd servers and their RSS usually stays around 30 - 40 MiB.

[2020-09-28 10:01] Acconut commented on #416
Closing this issue due to inactivity. Feel free to leave a comment if you want to continue the discussion :)

[2020-09-28 10:01] #416 closed

[2020-09-28 10:01] #406 closed

[2020-09-29 05:29] robertlook commented on #416
I was uploading multiple photos at once in my project, then I got the same problem, then I found it by going to this tutorial and got it out. Full Source Code **[ jquery multiple image upload with preview and delete](https://www.phpcodingstuff.com/blog/multiple-image-upload-with-preview-and-delete-jquery.html).**
very easy to use

![upload img look](https://user-images.githubusercontent.com/693838

[2020-09-29 07:21] 0sander opened #429 "Large parallel uploads (> 100 GB) failing due to timeout?"
**Question**
I am using tusd with tus-js-client to upload large files (> 100 GB) using parallel uploads (10 uploads). I see uploads failing sometimes, with the final file not being concatenated. The browser receives a timeout during the final HTTP call (Upload-Concat), which is likely caused by tusd taking too long to concatenate the file. I suspect that tusd stops the concatenation once the timeo

[2020-09-29 08:47] Acconut commented on #429
I haven't seen this behavior before. What timeout are you exactly seeing? Is it a timeout sent from the tusd server or is it a timeout from the browser because it didn't receive the response in 5 minutes? Also, do the logs from tusd mention something?

If you are concatenation a 100GB file, you have to know that once all individual uploads are finished, tusd will read each individual upload and wr

[2020-09-29 13:19] #418 closed

[2020-10-07 14:57] wizardlevel9 opened #431 "Authentication example using hooks"
Can you please provide a detailed example of how i would set up authentication (username and password) using hooks.

The documentation outlines that this is possible, but does not provide any guidance or examples.

I would like to take advantage of this fantastic capability, but I'm not sure how to do it correctly.

Any documentation or assistance with examples would be greatly appreciated.

Thank

[2020-10-08 08:42] segevfiner commented on #379
A lot of the performance of S3 for larger uploads (When bandwidth/disk speeds allow) is dependent on uploading multiple parts of the file in parallel. As it stands with the current TUS protocol, parallelization can only be achieved server side by buffering the upload, the client can't upload multiple parts in parallel to the same upload. The concatenation extension is about concatenating multiple

[2020-10-08 16:08] beevelop opened #432 "Byte-range support for iOS compatibility"
There were already a few discussions about supporting Byte-range (content-range / partial-range) a few years ago. For now, `tus` and `tusd` don't implement support for it, which is understandable in the respective context:
- https://github.com/tus/tus-resumable-upload-protocol/issues/2: "Range" vs. "Content-Range"
- https://github.com/tus/tus-resumable-upload-protocol/issues/116: Upload-Offset vs

[2020-10-10 15:29] Acconut commented on #432
I can understand that this is an inconvenience for you but tusd is not intended to serve content. Just as the tus protocol itself, tusd was built for handling file uploads and not file downloads. This decision helps us keep tusd maintainable and focused on one specific thing (which are file uploads in our case). For handling file downloads there are already other tools which take care of this job

[2020-10-10 15:36] Acconut commented on #431
I can't provide you with a "detailed example" right now but the basic gist is that you configure the tus client to put the authentication credentials (e.g. password or token) into an header, such as `Authentication`. The tusd hooks have access to these headers (see https://github.com/tus/tusd/blob/master/docs/hooks.md#the-hooks-environment) and can validate and check the credentials. If authentica

[2020-10-10 15:53] Acconut commented on #379
I am sorry to read that you were having issues with tusd due to poor performance. Did I understand your comment correctly that you were saying there is a better way to implement the Concatenation extension on S3?

[2020-10-10 16:41] segevfiner commented on #379
I'm not actually sure if that is possible with the existing concatenation extension.

The way you are supposed to do concurrent uploads of a single object in standard S3 is to create a single multi-part upload, and upload separate parts in parallel. (I think you can do the same in other clouds object stores, but not sure).

The way the current concatenation extension works with S3 is creating sepa

[2020-10-10 16:49] Acconut commented on #379
Ah, ok, thank you for the explanation. It now makes sense to me what you meant. The underlying problem is that the tus server does not know in advance which tus upload will be concatenated, so we cannot take full advantage of AWS S3 performance characteristics. Maybe we need a better approach in the tus protocol in the future.

[2020-10-12 00:32] segevfiner commented on #379
Multi part uploads similar in nature to S3 are also supported by the GCS resumable upload API: https://cloud.google.com/storage/docs/performing-resumable-uploads. I'm not sure whether the SDKs or CLIs utilize them by default.

Azure Storage block blobs are divided into blocks that are uploaded and committed separately in the first place. Not sure that API is usable with the existing concatenation

[2020-10-13 22:01] sripberger opened #434 "Putting data from an HTTP hook into tus responses."
**Question**
I'm using HTTP hooks and I have a bit of a feature question. I know blocking hooks can cause error messages from the hook to propagate through to the tus response by setting a 5xx response code, but is there any way to do anything like this for successful requests?

For example, if I have a "pre-finish" hook which performs some kind of database operation, and I want to put information

[2020-10-14 10:50] Acconut commented on #434
No, this is unfortunately not possible right now. We had this and similar feature requests in the past multiple times and we have the intention of providing a better mechanism in the future. Once we get around it, this feature will likely ship in a tusd v3 release with an entirely new hook system to replace the current one. However, as of now, you cannot set the response body from a successful hoo

[2020-10-14 13:04] sripberger commented on #434
Ok, that's understandable. Thank you for the swift response. :+1:

[2020-10-14 13:06] #434 closed

[2020-10-14 21:31] Acconut opened #435 "Implementation of the Expiration extension"
tusd does currently not support the [Expiration](https://tus.io/protocols/resumable-upload.html#expiration) extension and people have to rely on custom scripts or provider-specific approaches to clean up old uploads. This issue is intended to serve as a discussion place for a possible implementation of this extension. In the end, tusd should be able to do two things:
- Provide the expiration time

[2020-10-14 21:31] Acconut commented on #133
I opened https://github.com/tus/tusd/issues/435 to start the discussion for a possible implementation of the Expiration extension.

[2020-10-14 21:32] Acconut commented on #176
I opened #435 to start the discussion for a possible implementation of the Expiration extension.

[2020-10-19 14:16] RubenGarcia commented on #432
You can also support byte-ranges in your GET endpoint, which tus does not document and you are thus free to implement your required functionality. IOS players need not even be aware of the POST / PATCH / etc endpoints tus creates.

[2020-10-21 20:58] jzupka commented on #420
Hello I have same problem in our production servers. Almost same configuration like in issue report head

tusd Version: v1.3.0

tusd -gcs-bucket  -gcs-object-prefix tusd -behind-proxy -base-path --hooks-http

6742768 4,348g   8416 S 158,7 74,9  14744:55 tusd
The memory was consumed after 2 days of usage.

[2020-10-22 10:05] Acconut commented on #420
@jzupka

What do those numbers mean? Can you explain? Also, what memory usage does the /metrics endpoint (see https://master.tus.io/metrics) report?

[2020-10-23 08:55] Acconut commented on #432
Yes, you are correct, @RubenGarcia. The tus protocol does not prevent the support of byte range requests. However, supporting this feature is not in line with the goals that we have/had for tusd. We want tusd to focus on uploads and not on downloads, which it is not optimized for.

[2020-10-24 08:04] RubenGarcia commented on #432
That's what I'm saying.
I meant beevelop can support byte-ranges in non-tus mandated endpoints.
I did not mean for the tus protocol to be modified.
You (Acconut) can add something like this to the documentation: "The definition of download endpoints is outside of the scope of the tus protocol", if it is not written explicitly there yet.

[2020-10-27 11:53] jzupka commented on #420
@Acconut sorry for late answer and inconvenient report
this is allocated memory by tusd. Important part is 4.348GB after 2 days of usage.
CPU load is solved unfortunately memory problem is still there.
I have to install early oom to kill tusd.

[2020-10-28 00:15] Acconut commented on #420
This memory leaks seems to be specific for the GCS storage. I found a few issues in the GCS Go SDK repository about memory leaks (e.g. https://github.com/googleapis/google-cloud-go/issues/1623) which are not fixed in the SDK version we are using in tusd.

@jzupka Can you try to upgrade the GCS Go SDK, recompile tusd and see if the memory leak disappears?

[2020-10-28 06:47] jzupka commented on #420
@Acconut yes sure. Lets try this it looks reasonable. I'll try it during this week.

[2020-10-28 11:58] Acconut commented on #420
Great, let me know if you hit road blocks!

[2020-10-29 09:46] jzupka commented on #420
@Acconut There is really problem with GCS SDK they create newMediaBuffer which they almost never destroy. There is pull request [pull request](https://github.com/googleapis/google-api-go-client/pull/632) to using user manager buffer to avoid this problems.
I have tried tusd on miniogw -> GCS. Unfortunately it not work good.  I'll make another issue for this.

[2020-10-29 11:48] jzupka commented on #420
@Acconut I have tested tusd builded with go Lang 1.15 and last GCS everything unfortunately same behaviour.

[2020-10-29 23:19] Acconut commented on #420
Unfortunately, I don't. A first step in the right direction would be to pinpoint what allocations are not released properly. Would you be able to add pprof to tusd and take a memory profile after performing a few uploads? https://www.freecodecamp.org/news/how-i-investigated-memory-leaks-in-go-using-pprof-on-a-large-codebase-4bec4325e192/ looks like a good introduction.

[2020-10-29 23:19] Acconut commented on #432
Thanks for the clarification, @RubenGarcia. In that case, I misunderstood your comment :)

[2020-10-30 07:20] jzupka commented on #420
yes I already did it. it looks exactly same than like in https://github.com/googleapis/google-api-go-client/pull/632.

[2020-10-30 09:53] Acconut commented on #420
Ok, that's good to know! Would you be able to replace the GCS SDK with the fork from the PR's author and configure it to use our own buffers?

This way we can see if that PR actually solves the problem.

[2020-11-03 15:29] jeremyj opened #437 "Restarting docker container cannot not resume upload?"
Hello,

I have a tusd container running behind an nginx reverse proxy container.
If I restart the tusd container I am unable to resume the upload from the client and I see this error message on the server:
[code]
I would imagine that the server shutdown would delete the lock, but instead it is still there.

So how can I avoid this problem?

I am running tusproject/tusd:v1.4.0 and the following com

[2020-11-05 09:30] Acconut commented on #437
That's weird. The lock files contain the PID of the tusd process that created the lock file. If the process with this PID does not exist anymore, the lock file should be automatically be removed when an upload resume. So, usually when you restart tusd, its PID changes and the lock file are not an issue. Does another process with the PID from the lock files exist on your system?

[2020-11-05 09:39] jeremyj commented on #437
OK I think the problem is the fact that tusd always runs as PID 1 in containers.
There is a `--pid=""` switch to docker run which allows the host's PID namespace inside the container. Ill try and see if I can work around the issue.

[2020-11-05 10:02] jeremyj commented on #437
So apparently that switch does not work in docker swarm, which I'm using (https://github.com/docker/docker.github.io/issues/5624).

So my question is: will I be having the same problem if I implement some other locking mechainsm such as filelocker?

[2020-11-05 10:27] Acconut commented on #437
There is https://github.com/tus/tusd-etcd3-locker. If only one tusd instance is accessing the upload directory, you can also simply remove all `*.lock` files in the upload directory.

That's good to know!

[2020-11-05 10:35] jeremyj commented on #437
I have multiple instances running behind a load balancer with sticky sessions. Furthermore the application makes sure that an upload is always accessed by only one client, so I guess I could do without locks all together.

Is there a way to disable them?

[2020-11-11 11:35] Acconut commented on #437
No, there is currently no way to disable locks and we don't have plans to make them optional in the future. I am currently working on some changes allowing tusd to unlock uploads which are locked by other instances (in a safe manner, of course) but that is not completed yet.

[2020-11-11 15:28] jeremyj commented on #437
OK thanks for the clarification.
At the moment we have implemented a solution that deletes the locks in the shared upload directory when a container starts. This is far from optimal but it gets the job done.

[2020-11-11 15:28] #437 closed

[2020-11-12 16:53] Neha-Prabhu commented on #326
Hi could you please upload the final code that works for you, I have the same problem
Thanks

[2020-11-12 17:03] Neha-Prabhu opened #438 "only .info is getting uploaded"
I want to upload vidoes/images via tusd to S3 but I am not able find perfect resources to do the same
with all the knowledge I gathered this is what I could come up with :

[code]

**Setup details**
Please provide following details, if applicable to your situation:
- Operating System: Linux
- Used tusd version: current
- Used tusd data storage: s3
- Used tusd configuration: did not understand this

[2020-11-13 01:55] fortunto2 commented on #438
Hmm... same error but for Google Cloud storage

used to work well locally, tried to transfer it to the cloud today and also a problem

[2020-11-13 01:57] #365 closed

[2020-11-14 10:40] noook commented on #388
I'm not sure to follow what's the advancement stage of this issue, but just to confirm, there is absolutely **no way** of sending any custom data to the client right now? Not even Through headers?

I need to make a shortened URL for the image, the only possible thing is to make another request by the client when the upload is finished?

[2020-11-19 16:16] Acconut commented on #438
@Neha-Prabhu You are enabling all the events, e.g. `NotifyCompleteUploads`, but are not listening for the events on the channels (e.g. https://github.com/tus/tusd/blob/0822c0ac436c7c6d6d320879ec50758b430494df/pkg/handler/unrouted_handler.go#L128). Since the channels are not buffered, it will cause tusd to hang and therefore no actual file data is stored on S3. You must either listen for events on

[2020-11-19 16:20] Acconut commented on #388
No, there is currently no easy way to do this. The only possible approach is to implement your own middleware which catches the responses from tusd and adds application-specific headers to it. But that is very error-prone and might break easily.

[2020-11-21 06:59] Neha-Prabhu commented on #438
got it. Thank you.

[2020-11-21 09:14] #438 closed

[2020-11-22 05:21] MarhabaLRS opened #440 "How to speed up transfer rate?"
**Why tusd is slow?**
When I start upload, Uploading chunk to my Tusd instance, after some time was halted upload, then resume the upload, then halted. It was repeatedly happened until complete the upload. Is there any reason?. It will take about 2times time to complete single upload

I have 60Mbps Connection.
![bandicam 2020-11-22 10-10-41-527](https://user-images.githubusercontent.com/73784045/9

[2020-11-22 05:36] MarhabaLRS commented on #440
Sometimes it will be like this.

![bandicam 2020-11-21 22-58-34-287](https://user-images.githubusercontent.com/73784045/99895977-6b3ea300-2cb2-11eb-8e5f-d9dc9cbdc894.gif)

[2020-11-23 09:50] Acconut commented on #440
How is your upload connection to AWS S3? tusd can only accept incoming data as fast as it can push it to AWS S3. So, if your upload speed to AWS S3 is not sufficient, tusd will also slow down.

[2020-11-23 12:30] MarhabaLRS commented on #440
My PC(tus-js-client from localhost) to EC2 about 40-50 Mbps, EC2 to S3 shows 1Gbps.

[2020-11-23 13:25] Acconut commented on #440
Ok, good to know. Can you try increasing the `-s3-part-size` flag to more than 50MiB (see https://github.com/tus/tusd/blob/master/cmd/tusd/cli/flags.go#L59)? Maybe try a few different values and see if they change the behavior.

[2020-11-23 13:45] MarhabaLRS commented on #440
Current part size is  `96MiB` `100663260 Bytes` . I've already tried `32MiB`, `48MiB`, `56MiB`.
These are the flags `tusd -s3-bucket tusd-storage -s3-endpoint https://s3.eu-central-1.amazonaws.com -s3-object-prefix files -s3-part-size 100663260 -max-size 2199023255552 -timeout 0 -port 1080 -hooks-http http://0.0.0.0:8080/tus-auth.php -hooks-http-retry 3 -hooks-http-backoff 2 -hooks-enabled-events

[2020-11-23 15:12] Acconut commented on #440
And do these different values result in different behaviour?

[2020-11-23 17:20] MarhabaLRS commented on #440
Nop. Still the result is same. 1-3 Second Uploading in Maximum Speed, Then down for 1-3 Second. Sometimes upload get stuck. Tusd server not receiving data continuously.

[2020-11-23 18:14] Acconut commented on #440
How about values larger than 96MiB?

[2020-11-29 08:05] Neha-Prabhu opened #441 "Error: refused to get unsafe header "location""
**Question**
Getting Error: refused to get unsafe header "location" when trying to upload video using uppy via tusd to S3.

**Setup details**
Please provide following details, if applicable to your situation:
- Operating System: Ubuntu 20.04
- Used tusd version: current
- Used tusd data storage: s3
- Used tus client library: Uppy.js

Code:
[code]
My S3 CORS config:
[code]

[2020-11-30 22:16] Acconut commented on #440
The demo server is running the tusd Docker image on Heroku: https://github.com/tus/tusd/blob/master/.github/workflows/main.yml#L47-L60

[2020-11-30 22:22] Acconut commented on #441
Two things:

- If you want to use your own CORS configuration for gin, make sure that it at least includes the values as the tusd CORS configuration does: https://github.com/tus/tusd/blob/master/pkg/handler/unrouted_handler.go#L224-L230
- It seems as if you are using the tusd package wrong. When you construct a new handler, you must either pass the handler to a `http.Handle` function (or something

[2020-12-02 18:14] campbellr commented on #356
I came here with the same request. I'm also using structured logging (with `zerolog`) and it would be really nice if I could integrate the tusd logs into it.

Implementing an `io.Writer` that forwards to our own logger isn't great because we lose all the context (everything is just a `[]byte` by the time it gets to the Writer), and we'd also end up duplicating things like timestamps.

We'd need so

[2020-12-02 20:07] dhiemaz opened #442 "NotifyCompleteUploads is not working when enabling NotifyCreatedUploads"
I have setup tusd UnrouteHandler in my code using below configuration :
[code]

in my go routine I catch all the event especially for those which I have enable
[code]

but when I start uploading the file, it seems hookEvent `CompleteUploads` is not triggered, but when only `NotifyCompleteUploads` set true, the hookEvent `CompleteUploads` run just fine.

[2020-12-02 22:19] Acconut commented on #442
You must not close the notification channels. tusd expects them to be open and if you close them, tusd will hang since it cannot send messages on a closed channel. Removing all the calls to `close` should solve the problem for you.

[2020-12-03 06:06] Acconut commented on #442
Another thing that just came to my mind is that you need a for loop in your goroutine which fetches the events from the channels. Your code right now just waits for the first event and then stops looking for new events.

[2020-12-07 06:44] dhiemaz commented on #442
I have remove close channel, but the issue still happens.

here is the looping code for fetching event.

[code]

[2020-12-07 08:50] Acconut commented on #442
That look's better! Please share tusd's log output. Maybe there is some information in it.

Can you explain more what you mean with:

[2020-12-09 16:18] Acconut commented on #356
We are always open for PRs, if this is a priority for you :) I can understand your need but we do not have the resources to work on this feature request right now.

[2020-12-15 15:05] bastien-seqone opened #443 "Reusing provided HTTP context in UnroutedHandler"
**Is your feature request related to a problem? Please describe.**
We use tusd with our own store to use the SSE-C functionality of the S3 standard and manage encryption. In order to manage our encryption keys, we have middleware that does a lot of business verification and we would like to pass information through the HTTP context.

But in the UnroutedHandler, the handler methods create a new con

[2020-12-16 22:53] leaanthony commented on #250
I'm getting the same behaviour for the latest version (v1.4.0). No temp files are being deleted despite uploading successfully to S3. Is this a regression?

[2020-12-18 23:06] leaanthony opened #444 "Tusd behind Caddy Webserver?"
**Question**
In the examples directory, there are configs for Nginx and Apache. I'm wondering if anyone has got it working with [Caddy](https://caddyserver.com/)? I kinda had it working but under load I would get tcp timeouts during the response stage (5x 5G files being uploaded concurrently). At lighter loads it was fine.  I was using a basic reverse proxy configuration with flush_interval set to

[2020-12-19 11:18] Acconut commented on #444
I have never worked with Caddy, but I would assume you can get tusd running with it. tusd does not have many requirements towards proxies. What exactly do you mean with "tcp timeouts"? Are those the error messages in responses from tusd or are those the errors that your tus client is emitting on its own?

[2020-12-20 22:18] leaanthony commented on #444
The errors I am seeing are from tusd:

```tusd[1127]: [tusd] 2020/12/16 10:37:32 event="ResponseOutgoing" status="500" method="PATCH" path="<snip>" error="read tcp: i/o timeout" requestId=""```

This happens under load when using a reverse proxy. Going direct to the tusd port over http does not hit this issue.

[2020-12-21 03:39] leaanthony commented on #444
I'm now wondering if [this](https://github.com/tus/tusd/issues/297) might be the issue...

[2020-12-21 10:39] Acconut commented on #444
Well, it is necessary to setup the proxy as explained in https://github.com/tus/tusd/blob/master/docs/faq.md#can-i-run-tusd-behind-a-reverse-proxy. If that's not the case for your infrastructure, it is very likely to not work. I am also confused what the `Upgrade: websocket` header has to do in your configuration.

That being said, your timeouts sound more to be caused by https://github.com/tus/tu

[2020-12-21 10:45] leaanthony commented on #444
Apart from max body size, I think it's ok? Regarding the websocket, I dunno, I was just following the nginx.conf in the example directory. Is this wrong?
![image](https://user-images.githubusercontent.com/1943904/102768774-cb218a00-43d5-11eb-98a1-3bb504f06b27.png)

[2020-12-21 22:26] romanpod opened #445 "Which hook is best fit for magic number validation"
Hey all,

I'd like to make sure that the uploaded file is of the permitted type, which calls for a magic number validation.
For small files one can use the post-finish hook to inspect the completed file and delete it upon violation, however it's not quite efficient when dealing with large files [wasted traffic, resources, etc].

Possible candidate might be a post-create hook. From the documentatio

[2020-12-24 15:28] lucas007007 opened #446 "how to clean temp files"
**Question**
Hi All
Please tell me how to clean temp files(chunk files info files) in s3 after upload finished.
Can I store the temp file in list  and delete files by file name when finish-event triggered.
Thanks.

[2020-12-26 10:52] ashitikov commented on #396
I have the same problem with one small chunk (< 5 mb). AWS S3 after upload contains 3 files:
1. hash-named-file - 0B
2. hash-named-file.info - 400-500B
3. hash-named-file.part - 3.5 MB

[2021-01-03 23:48] Acconut commented on #446
Temporary files should be cleaned up after any upload which also occurred when I tried to reproduce the behavior you are mentioning. Can you share more details about your setup?

[2021-01-03 23:49] Acconut commented on #250
@leaanthony I am not able to reproduce that. Maybe you are experiencing something similar to https://github.com/tus/tusd/issues/446 and can comment over there with more details and steps to reproduce?

[2021-01-03 23:57] Acconut commented on #444
`flush_interval` seems to be disabled response buffering but not request buffer. You should make sure that Caddy does not buffer the request. Maybe Caddy already does that automatically but I do not know.

The `Upgrade` header in our Nginx configuration is not hard coded to `websocket`, as your configuration is. Instead, we set it to whatever value the incoming HTTP request uses. So it is not the

[2021-01-03 23:58] Acconut commented on #396
Thanks for reporting! I will try to look into it soon but I cannot promise anything. Would you be able to look into it as well?

[2021-01-04 00:05] Acconut commented on #445
If you do not want to wait until the post-finish hook, you can check how much data has already been uploaded in the post-receive hooks. If X bytes have been uploaded, you can trigger a file validation job.

Please be aware that not for every data store the uploaded file can be accessed before the upload is finished (e.g. S3 store).

[2021-01-04 00:08] Acconut commented on #443
Thank you for the detailed report. There were already some attempts to reuse the request context but we encountered some issues which are explained in https://github.com/tus/tusd/pull/361 and https://github.com/tus/tusd/pull/309. I am not sure if these would be resolved by now but I am more than happy to help you try it out! :)

[2021-01-04 04:03] sido420 opened #447 "tusd as a regular file upload server"
I am trying to use tusd as file upload server for nativescript apps. There are some plugins available  but they have different issues and unreliable.

I also tried using the tus js client but due to lack of nodejs features support that does not work either.

Finally, I am trying to use https://github.com/NativeScript/nativescript-background-http which is a regular HTTP file upload client for nativ

[2021-01-04 19:18] #445 closed

[2021-01-05 02:05] leaanthony commented on #444
Thanks for the feedback! I'll review the config based on your feedback 👍

[2021-01-05 02:05] #444 closed

[2021-01-07 09:53] bastien-seqone commented on #443
Sorry I missed the attempts already made.

I've read the solution you propose in the comments in PR https://github.com/tus/tusd/pull/315. I will try to propose something in this way.

[2021-01-07 12:36] bastien-seqone commented on #443
I have just seen that this that this PR https://github.com/tus/tusd/pull/342 seems to be doing the job.

It is this missing test that is blocking its approval?

[2021-01-08 12:05] Acconut commented on #443
Yes, this PR is just missing a proper test. However, I would also like to try reusing the request context in such a way that the data storages still work. But that may require some internal refactoring. This would definitely be a better approach instead of such a work around, if you understand what I mean.

[2021-01-08 19:47] adamhooper opened #448 "GCS: use application default credentials"
**Is your feature request related to a problem? Please describe.**

I want to configure tusd's GCS authentication the way I configure other GCS clients.

In particular, my GKE containers already have workload identities. Other clients don't need a file on disk or an environment variable.

**Describe the solution you'd like**

I'd like tusd to authenticate using the existing logic in `cloud.google.

[2021-01-13 09:43] benitogf opened #449 "html video play controls from tusd url"
**Question**

Using tusd urls as a source for html video?

It works for mp4 files by adding the type attribute:

[code]

but the timeline control doesn't work, could this be missing metadata in the file that is on the .info?

I would like to make the timeline controls work if anyone has succeeded at this advice would be much appreciated, will keep trying on my end and keep this updated

**Setup de

[2021-01-16 14:32] scratchoo commented on #386
@Acconut  cors is supposed to be * by default (if I understand well)
however, in my localhost, uploading from a local html (with help of uppy) file to http://localhost:8080  is always showing:

Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at http://localhost:8080/files. (Reason: CORS request did not succeed).

I used the same code in the example here h

[2021-01-16 20:21] scratchoo opened #450 "how to set/overwrite cors in the tusd code provided in the doc"
**Question**
I'm not a GO developer (I even did my best to learn GO basics just in the hope to make it works) but after wasting days without luck, I will do my last try to find an answer, otherwise, I'm giving up all the GO story because it just hurts to burn all the energy without finding the simplest answer: can just someone tell how to set cors to a specific host (i.e: example.com) instead of t

[2021-01-17 08:48] MarhabaLRS opened #451 "Status of Current Upload."
**Question**
Status of Current Upload.

**Setup details**
Please provide following details, if applicable to your situation:
- Operating System: `Linux`
- Used tusd version: `latest`
- Used tusd data storage: `AWS S3`
- Used tusd configuration: `-s3-bucket storage_bucket -s3-endpoint https://s3.eu-central-1.amazonaws.com -s3-object-prefix files -s3-part-size 100663260 -max-size 2199023255552 -time

[2021-01-17 15:52] TommasoAmici opened #452 "Error: tus: invalid or missing offset value, originated from request"
**Describe the bug**
I'm using `tusd` programmatically in my go backend behind nginx, and I keep getting this error:

[code]

I can upload small files (<10mb), but when trying bigger files only the first chunk is saved and then the error occurs.

When looking at the headers, it seems like the tus headers are not there.

e.g. on a HEAD response I get this. I would expect to see `Upload-Offset` and

[2021-01-17 23:04] Acconut commented on #451
tusd cannot be directly queried to retrieve the upload progress for an upload which is currently running. Use the `Offset` property in the `post-receive` hook instead to let your application get notified about progress updates for the uploads.

[2021-01-17 23:15] Acconut commented on #450
I am sorry to hear that you are struggling so much with tusd. However, there is currently no way to change or overwrite the CORS setup from tusd. Neither programmatically nor using the tusd binary. The only option right now it to use an external proxy, such as nginx. Since this is an often requested feature, we are always open for PRs to improve in this regard :)

[2021-01-17 23:29] scratchoo commented on #450
@Acconut if only this was written in the doc, you would save me tons of time and struggles  I was able to set CORS via Nginx but the upload is not resumable even though I added:

        # Disable request and response buffering
        proxy_request_buffering  off;
        proxy_buffering          off;
        proxy_http_version       1.1;

        # Add X-Forwarded-* headers
        proxy_set_hea

[2021-01-17 23:35] Acconut commented on #449
tusd supports GET requests but does not support the `Range` header in GET requests which is used by video players to seek to certain time stamps. We currently have no intention of implementing support for this feature since tusd is not meant to be used as a file server. Instead, it is best to use a proper tool like nginx for this.

[2021-01-17 23:39] Acconut commented on #450
Could it be that there is another proxy between the browser and your nginx before tusd? Maybe from your hosting provider? It looks like this proxy buffers the request from a brief look.

[2021-01-18 00:00] Acconut commented on #447
It is true that tus-js-client does not support NativeScript right now. However, you can use the `httpStack` and `fileReader` options from tus-js-client (https://github.com/tus/tus-js-client/blob/master/docs/api.md#httpstack) to implement own versions of the Node.js/browser-dependent parts of tus-js-client. Then it should also be usable for NativeScript applications.

I am not sure what you mean wi

[2021-01-18 00:02] scratchoo commented on #450
@Acconut yeah you are right, it seems that the url they provided me with was using some kind of proxy/load-balancer, once I added an IPv4 it started working finally :) I'm ready now to upload files, but most importantly I will be sure to write a blog post about all the challenges I faced during the implementation, hopefully, I can save people like me some time...

just one last piece, as I'm using

[2021-01-18 00:09] Acconut commented on #450
You can use the PreCreateCallback in the config struct: https://godoc.org/github.com/tus/tusd/pkg/handler#Config

Feel free to send us the link as well, so we can try to improve in these areas :)

[2021-01-18 00:11] Acconut commented on #448
Good idea! We do not use GCS much on our end, so we are not sure how other tools handle this! However, we are happy to accept PRs in order to make tusd work more uniform with the rest of the ecosystem (in a backwards compatible way) :)

[2021-01-18 00:23] scratchoo commented on #450
@Acconut yeah I see the PreUploadCreateCallback... as I'm totally new to GO I have to take a little time to figure out how to use it with the necessary verifications.

I will make sure to send the URL once I get it done. Thank you very much for the guidance, you just saved me an extra 3 days (lol) :+1:

[2021-01-18 00:47] Leeaandrob commented on #452
I am experiencing the same issue behind nginx.

[2021-01-18 02:58] benitogf commented on #449
how can I make nginx serve the video files with `Range` header support? Will look into it, thanks @Acconut

[2021-01-18 06:51] lshz0088 opened #453 "Can I set [content disposition: inline / attachment] when using tus to download files"
**Question**
Can I set [content disposition: inline / attachment] when using tus to download files

example ：
[code]
When the file is a picture, it is automatically opened by the browser.
I want to directly set content disposition = attachment on the API side.

**Setup details**
Please provide following details, if applicable to your situation:
- Operating System: Linux
- Used tusd version: docker

[2021-01-18 14:44] ashitikov commented on #396
Sorry, I'm not so experienced with GO lang, but I could test some branch for you

[2021-01-19 02:18] nadihagh opened #454 "remove some metadata"
I use tusd with s3 and grpc hook,
my client sends files directly to my tusd server.
in pre create hook I need to authenticate users so I need their tokens.
I have to add tokens as metadata in client to access them in tusd server hook,
the problem is I cannot remove token field from generated .info file,
actually I need to store .info file but it's not safe to have tokens in it,
How can I remove ju

[2021-01-19 04:00] danegigi commented on #441
I was able to eliminate this problem by adding Location to the ExposeHeader in my cors configuration and included other headers as @Acconut pointed out.

[code]

[2021-01-19 14:38] lucas007007 commented on #446
I just start the server in programmatically and using S3Composer  as following.

func S3Composer(s3EndPoint string,s3Bucket string,s3ObjectPrefix string) *tusd.StoreComposer {

	composer := tusd.NewStoreComposer()
	s3Config := aws.NewConfig()

	log.Infof("Using '%s/%s' as S3 endpoint and bucket for storage.\n", s3EndPoint, s3Bucket)

	s3Config = s3Config.WithEndpoint(s3EndPoint).WithS3ForcePathSty

[2021-01-19 14:53] lucas007007 opened #456 "s3store: NoSuchKey error"
**Question**
Hi All
I try to use tusd to  upload large file( ~1G)
After  100% completed  was shown in  browser console , http 500 error returned. (and upload failed)

[code]

**Setup details**
Please provide following details, if applicable to your situation:

data flow : tus-js-client > https > ec2[nginx > tusd@8005 ] > s3

I just start the server in programmatically and using S3Composer as follo

[2021-01-19 19:38] viyatgandhi opened #457 "tusd with nodejs"
**Question**
I am trying to implement tusd with nodejs (express) implementation. As tusd is being favored vs [tus-node-server](https://github.com/tus/tus-node-server). Works fine with tus-node-server but want to use more maintained and faster tusd go implementation.

[code]

How best using nodejs I can communicate to local tusd server and transfer the incoming request on nodejs so that it is handl

[2021-01-21 17:20] TommasoAmici commented on #452
I have tried using the `tusd` binary and I can upload with no issues.

So there should be no issues on the client side with uppy. I think it's something with the set up of the handler in my go app

[2021-01-21 19:15] muratgozel commented on #334
I have started with the following:
[code]

[2021-01-22 02:00] #457 closed

[2021-01-22 13:23] wodCZ commented on #450
Could you please consider adding a tusd flag to enable `Access-Control-Allow-Credentials` CORS header?

Following [this issue](https://github.com/tus/tus-js-client/issues/92) we enabled `withCredentials` [with the example provided in tus-js-client docs](https://github.com/tus/tus-js-client/blob/master/docs/api.md#onbeforerequest) on our client, so we can forward loadbalancer (AWS's ALB) session co

[2021-01-22 15:46] geek-at commented on #345
Took me longer than I'd like to admit but here's my working script that handles json in a way that can be forwarded to an API using curl

It gets the hook name from the file name. so you can put the same code in th ehook pre-create, post-create, etc..

[code]

[2021-01-22 16:56] Acconut commented on #449
I think nginx supports it by default and there is no additional option required to enable the Range header, as far as I know.

[2021-01-22 16:56] #449 closed

[2021-01-22 17:00] Acconut commented on #450
That's a good reason, I never came across before.

I am open to adding options for customizing the CORS header sent by tusd since this is a popular issue. So feel free to open a PR. However, it would be helpful if we have a concept for not only customizing `Access-Control-Allow-Credentials` but also the other headers. So, if you make a PR please put some thoughts into how other headers could be cu

[2021-01-22 17:07] Acconut commented on #452
Thanks for the detailed description and the code for reproduction. Can you generate a HAR file containing network information and send it over? https://mediaplanhq.zendesk.com/hc/en-us/articles/360001171463-Generating-a-HAR-file-for-troubleshooting

[2021-01-22 17:09] Acconut commented on #456
The errors from the logs is this:

So you didn't configure `aws.NewConfig()` with the correct S3 credentials.

[2021-01-22 17:10] wodCZ commented on #450
@Acconut noted, I'll consider.

This seems like a bigger issue though. In meanwhile I got to the same issue with cookies in our react-native app, which goes deep through react-native-tus-client, tus-android-client down to this tus-java-client PR [here, pointing that cookies are not passed](https://github.com/tus/tus-java-client/pull/18) and the related discussion [about changing http stack/client]

[2021-01-22 17:13] Acconut commented on #446
Oh, you are talking about the files on S3. Once the upload is complete, tusd will leave the uploaded file and the `.info` file on S3. This is not a bug but by design because these files should then be consumed by your application. If you want to remove them, you have to do it on your own in, for example in the post-finish hook.

[2021-01-22 17:16] Acconut commented on #450
Oh right, thanks for letting us know that the Java client does not support Cookies. As I said, people are apparently rarely using Cookies with tusd, so this is a bit of untested territory.

[2021-01-22 17:17] Acconut commented on #454
No, metadata cannot be removed. If you want to transmit data which is not intended to be saved, you can use a header in the requests. The request headers will also be available to read in the hooks.

[2021-01-22 18:09] TommasoAmici commented on #452
Thanks for looking into this, here's an HAR file with the error.
[tusd-missing-offset.har.zip](https://github.com/tus/tusd/files/5857738/tusd-missing-offset.har.zip)

[2021-01-22 18:09] TommasoAmici commented on #452
Also, here's my nginx config

[code]

[2021-01-23 09:00] YOUNG00011 commented on #456
I alse meet this problem when i was trying to upload one 2.5G file, really hope there be a solution to this problen!

[2021-01-23 16:42] lucas007007 commented on #456
Thanks for replying.
I think I have configed ec2 with the correct S3 credentials because I succeed to upload small files to S3 , such as png file or pdf file.

[2021-01-23 16:46] lucas007007 commented on #446
OK. Thanks for replying. I will try to drop these file in the post-finish hook.

[2021-01-24 11:26] nadihagh commented on #454
I mentioned I'm using grpc hooks,
how can I access headers in grps hooks?

[2021-01-25 13:36] Acconut commented on #454
Good catch! The protobuf struct for the gRPC hooks does not include the HTTP headers yet. Somehow we missed that. If you want to open a PR for this, we likely just need to add the HTTP headers in these two places:

https://github.com/tus/tusd/blob/master/cmd/tusd/cli/hooks/proto/v1/hook.proto#L40-L47
https://github.com/tus/tusd/blob/master/cmd/tusd/cli/hooks/grpc.go#L67-L71

[2021-01-25 13:36] #446 closed

[2021-01-25 13:52] Acconut commented on #456
Ok, what does your tus-js-client code look like?

[2021-01-25 13:58] #441 closed

[2021-01-25 15:58] TommasoAmici commented on #452
I've spent some more time on this today.

With the `tusd` binary I can upload big files, but if I try to pause and resume I get this same error. HAR here:
[local.mttaudio.com_Archive [21-01-25 16-55-57].har.zip](https://github.com/tus/tusd/files/5867745/local.mttaudio.com_Archive.21-01-25.16-55-57.har.zip)

[2021-01-25 20:16] Leeaandrob commented on #452
Locally running the project without the nginx directly with golang server the problem not happened.

[2021-01-26 12:22] nadihagh commented on #454
I'll open a PR soon, another question is that isn't thers any way to have error code and body in grps mode?
I need to have error body and status code in client while I'm using grpc hook

[2021-01-26 15:58] Acconut commented on #454
:+1:

IIRC you can either return a response for the body or a status code: https://github.com/tus/tusd/blob/master/cmd/tusd/cli/hooks/grpc.go#L42-L50 and https://github.com/tus/tusd/blob/master/cmd/tusd/cli/hooks/proto/v1/hook.proto#L70

I have not used the gRPC hooks on my own, so I unfortunately do not know every detail. However, we are also happy to accept improvements in that regard :)

[2021-02-02 19:12] Acconut commented on #453
Apologies for the late reply. tusd will set the Content-Disposition header if the `filename` and `filetype` metadata are set on the upload. The `filetype` metadata is the file's MIME type. Try to set these two values and the header should be present in the GET request.

[2021-02-04 07:23] danegigi opened #459 "After the upload was finish, how can I send additional information to the client?"
**Question**
I'm able to successfully upload a file but what's the best way to send information back to the client with additional information?
In the configuration, there's the `PreFinishReponseCallback` which I use to process the file which also generates some information that I want to send back to the client.

I've made use of the HTTP NewUnroutedhandler
[code]

Here's my configuration
[code]

[2021-02-06 15:51] Leeaandrob commented on #452
I am using parallelUpload with 10 too

[2021-02-08 14:16] ashitikov commented on #396
Any progress on that? ;)

[2021-02-10 21:13] Acconut commented on #429
Closing this issue due to a lack of information. Feel free to leave a comment if you want to continue the discussion :)

[2021-02-10 21:13] #429 closed

[2021-02-10 22:29] Acconut commented on #396
I have identified the root cause, but unfortunately that patch is a bit more complex and I am lacking a bit of time right now. I hope to be able to work on this in maybe two weeks.

[2021-02-14 01:53] digitalplaywright commented on #442
@dhiemaz The "/" in the end of the path supplied to the API is significant, and I believe you have to create separate go-routines with listeners to the channels. If you drop it then the CompleteUploads hook won't be called.

Example client:
[code]

With this server

[code]

[2021-02-16 22:02] acj commented on #396
@Acconut I'm running into this as well after upgrading one of our services from pre-1.x. Can you share what the root cause is?

If it would be helpful, I'm willing to work with you on preparing a fix, testing, etc.

[2021-02-18 10:05] Acconut commented on #396
@acj Sure, I would love any help here!

The problem is that the last chunk of an upload with a deferred length is not stored directly as a part for the multipart upload on S3. Instead, we store it as an object with the `.part` extension on S3 directly (we call this an incomplete part). So when we tell S3 to complete the multipart upload, it does not take the incomplete part into consideration beca

[2021-02-18 22:15] acj commented on #396
@Acconut Yep, I remember from when we worked on it together a few years ago 😄 (#219)

We've been depending on deferred-length uploads to S3 in production, so the feature was working in a previous version of tusd. I'm not sure when it got broken.

I investigated this a bit today, and I think the problem is that the s3Upload struct's FileInfo field gets out of sync (specifically Size and SizeIsDefer

[2021-03-04 15:41] acj commented on #396
@Acconut ping

[2021-03-11 09:16] Acconut commented on #396
Thank you for the investigation, @acj! I think you are correct but we likely have two different bugs in here, depending on whether the request with the `Upload-Length` header also includes a body:

1. If we include the `Upload-Length` header in the last PATCH request alongside a body, the problem is that the `s3Upload` struct is not properly updated, as you mentioned. Changing the signature of the

[2021-03-11 15:34] acj commented on #396
@Acconut PR opened 👍

Thanks for the additional details. I think I understand your reasoning in the second point, but I can't reproduce that behavior after fixing the first issue.

Here's an example from uploading a small (~1MB file) to a tusd instance with default config running the code from #462:

[code]

I've tried larger files as well and see the same behavior. The upload completes as expecte

[2021-03-11 17:17] #396 closed

[2021-03-11 17:22] Acconut commented on #396
:heart:

Oh, I see. I thought that S3Store.WriteChunk would not be called for an empty body, but that's not the case. So, you are completely right and your fix patched everything :tada: Thank you very much!

[2021-03-14 03:49] YouYue123 opened #463 "Why after PRE-FINISH hook there is another PATCH request"
**Question**

I have used tusd for a while. But recently there is a problem happened.  The following log will appear  sometimes and there is an extra PATCH request after PRE-FINISH hook. Is this something expected?

Because I did some data processing in PRE-FINISH hook and clean the data,  it is showing "upload not found" for this extra PATCH request. Is that recommended to do data processing in P

[2021-03-14 08:46] Acconut commented on #463
This does not look normal but I do not think tusd is actively causing that. tusd cannot directly control what requests the clients sends to it. Instead, my first thought is that the tus-js-client is misconfigured/misused triggering that additional request. Is this behavior always reproducible? Does it also occur when you do not use a proxy between tusd and the client (I see that -behind-proxy flag

[2021-03-14 08:58] YouYue123 commented on #463
Thanks for the reply. This is not always reproducible, but it will only happen when the network condition is not good.

Following is my tus-client-js config. Is that possible that ```retryDelays``` causes this issue in bad network situation? Will that be a scenario in which delay is triggered but the previous request is actually successful but slow.
[code]
I haven't tried it without proxy. Do you

[2021-03-15 08:40] Acconut commented on #463
I doubt that. When a retry from tus-js-client kicks in, it will first send a HEAD request before sending the PATCH request, But since I am not seeing any HEAD request in your logs, I do not think this is happening here. But you can also try to disable retryDelays to confirm that.

Yes, I could imagine that.

[2021-03-15 23:56] solovenkoU commented on #452
Had the exact same problem with the latest Uppy.
Tried to upload 1 small file (100KB) from a local device.
Downgraded to the following and the issue is gone.
"@uppy/core": "^1.15.0",
"@uppy/dashboard": "^1.14.0",
"@uppy/tus": "^1.8.2"

So it seems like a client-side issue.

[2021-03-16 14:31] Foxcool opened #464 "invalid memory address or nil pointer dereference at s3store.go:928"
**Describe the bug**
I am trying to pair this solution with seaweedfs s3.
Probably the problem manifests itself due to an unexpected storage response to the request store.Service.ListPartsWithContext.

		if listPtr.IsTruncated != nil && *listPtr.IsTruncated {
			partMarker = *listPtr.NextPartNumberMarker
		} else {
			break
The condition is fulfilled because IsTruncated true. But NextPartNumber is

[2021-03-16 14:36] Foxcool commented on #464
Debugger screen

![Screenshot_20210316_173619](https://user-images.githubusercontent.com/323923/111327098-246c2300-867e-11eb-8031-e61d823a5335.png)

[2021-03-16 22:08] Acconut commented on #464
Thank you for reporting, but this does not look like a bug inside tusd but rather on seaweedfs' side. From the AWS S3 documentation it sounds like NextPartNumberMarker should be set if IsTruncated is true (https://docs.aws.amazon.com/AmazonS3/latest/API/API_ListParts.html#AmazonS3-ListParts-response-NextPartNumberMarker):

When a list is truncated, this element specifies the last part in the list,

[2021-03-17 05:47] Foxcool commented on #464
https://github.com/chrislusf/seaweedfs/issues/1914

Okay. I created a ticket there.
I also made a pull request with the addition of a simple check for the emptiness of this field. With it, the download is successful. I don’t know if the lead-additional check, even if it contradicts the description of the protocol, is something redundant. It's up to you to decide.

Thank you very much for your prom

[2021-03-17 06:21] Foxcool commented on #464
UPD: On last version of seaweedfs it works correcttly.

[2021-03-17 08:07] Acconut commented on #464
Perfect!

[2021-03-17 08:07] #464 closed

[2021-03-18 07:55] bluven opened #465 "Could not download file using ceph"
**Describe the bug**
After uploading file, I tried to download file, tusd reports error like this:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `tusc client http://127.0.0.1:18080/files kibana-7.6.2-linux-x86_64.tar.gz -r --chunk-size=5242880`
2. Use browser to download file using the link returned by tusc

**Expected behavior**
File should be downloaded.

**Setup details**
Please

[2021-03-18 10:30] Acconut commented on #465
Thanks for the detailed report. You already found the source of the bug on your own :)

However, I do not see this as a problem in tusd but a bug in Ceph. The AWS S3 API (and apparently also Minio) return the correct NoSuchUpload error when referencing a non-existent multipart upload in a ListParts call. This should be fixed in Ceph, since we are not very keen on handling implementation-specific i

[2021-03-18 23:06] iuriikomarov commented on #174
+1 to the feature. Would love to see ability to compute object names within `store` or `composer` instance.

[2021-03-19 00:36] bluven commented on #465
Ok! Thanks

[2021-03-19 02:36] bluven opened #466 "Why lock all the time in GetFile"
**Question**

I can understand we need to lock when uploading or deleting to avoid contention, but dont' quite understand why lock all the time during downloading a file?

[code]
This make concurrent file downloading impossible.

[code]

[2021-03-19 10:49] Acconut commented on #466
The lock is necessary to prevent a download while the file is being uploaded (i.e. a PATCH request is currently active). We could use read/write lock to allow concurrent read but only exclusive writes but our current lock mechanism does not support that. All in all, this is not a priority for us since tusd is not designed for serving content but for file uploads. The GET endpoint is only there for

[2021-03-22 09:05] lshz0088 opened #467 "How to use behind proxy?"
**Question**

I set these parameters in tusd.

[code]

in nginx
[code]

In actual production, there is an F5 agent in front of the nginx.

Now the phenomenon is:

The first request sent by the browser to save JSON was the HTTPS protocol, and it also responded. But the second request became http. Now Google is not allowed to send HTTP in HTTPS.

![image](https://user-images.githubusercontent.com/27

[2021-03-22 13:35] Acconut commented on #174
Thanks for the feedback. We have it on a wishlist but since we are quite tight in time, I doubt we will come to it soon.

[2021-03-23 01:41] #466 closed

[2021-03-23 01:41] #465 closed

[2021-03-23 19:02] MarhabaLRS opened #468 "How the files Resumed?"
**Question**
1. If a user pause the upload, and continue for tomorrow, How the `tus` identify the user is same yesterday He was uploaded some portion of the file?
2. What are the keys used by `tus` to identify the uploader?
3. Is it possible to happen any clash while uploading same file(name) different users?

**Setup details**
- Operating System: `debian`
- Used tusd version: `latest`
- Used tusd

[2021-03-25 22:04] Acconut commented on #468
tusd does not "identify" the user. The client is responsible for resuming and each client implementation handles that differently. tus-js-client, for example, creates a fingerprint for each upload and stores the upload URL in local storage to resume an upload.

tusd does not identify the uploader.

No, tusd stores each upload under a different endpoint/location.

[2021-03-25 22:06] Acconut commented on #467
What does that mean? Is there the F5 agent is use when you made these screenshots? If so, the F5 agent must be configured as well.

Also, there are multiple `proxy_set_header X-Forwarded-Proto` instructions in your config. Try to only keep the `proxy_set_header X-Forwarded-Proto https;` one.

[2021-03-30 11:00] Maximilan4 opened #469 "Delete already uploaded file?"
**Question**
Has server a file deletion api? I cant find any info here or in clients`repo. Is this feature supported?

**Setup details**
using latest tusd version

[2021-03-30 11:39] Acconut commented on #469
Yes, send a `DELETE` request to the upload URL, as specified by the tus protocol: https://tus.io/protocols/resumable-upload.html#termination

[2021-03-30 11:54] Maximilan4 commented on #469
Seems like simple delete does not implemented by official python client. Guess, i need run simple http request like:
`curl -X DELETE <tusd-host>/files/<file-code>` with additional tus headers. Thanks.

[2021-03-30 11:54] #469 closed

[2021-03-30 13:58] renepardon commented on #324
If you have something already that would be nice. Otherwise I’ll just create one by myself with helm
create command.

Von unterwegs gesendet

Am 30.03.2021 um 15:38 schrieb Márk Sági-Kazár ***@***.***>:

﻿

Yeah, I totally forgot about it. 😄 I can probably come up with something during the weekend if you need a chart.

—
You are receiving this because you commented.
Reply to this email directly, v

[2021-03-31 01:50] sagikazarmark commented on #324
@renepardon Here is an initial version: https://github.com/sagikazarmark/helm-charts/tree/master/charts/tusd

I'll make some changes around configuration to make it more safe, but it's a start: https://github.com/sagikazarmark/helm-charts/issues?q=is%3Aissue+is%3Aopen+label%3Acharts%2Ftusd

[2021-03-31 08:00] renepardon commented on #324
@sagikazarmark looks a bit better than the default output of _helm create_ 👍🏼

[2021-03-31 10:03] lshz0088 commented on #467
The current situation is as follows:
1.  `F5` agent is configured by the third party enterprise.
2.  `SSL certificate` is configured on `F5` proxy
3.  There is no `SSL certificate` on my own nginx proxy, and the internal forwarding uses `http`
4.  `X-Forwarded-Proto` I also tried to write a `"HTTPS"`

[2021-03-31 10:14] lshz0088 commented on #467
@Acconut
In addition, I want to confirm one thing.
Is the rule of the second HTTP request returned after the first request is sent?
Because I also found that if I remove the part of the location matching in the proxy process, the second request will also remove this part, which is different from the URL sent for the first time

[2021-03-31 10:16] lshz0088 commented on #467
@Acconut
In addition, I want to confirm one thing.
Is the rule of the second HTTP request returned after the first request is sent?
Because I also found that if I remove the part of the location matching in the proxy process, the second request will also remove this part, which is different from the URL sent for the first time

[2021-04-05 22:22] Acconut commented on #467
No, your description is the first time I hear about F5.

Did you also try with lowercase `https`?

Sorry, but I do not understand what you mean here. Can you rephrase this?

[2021-04-08 06:23] lshz0088 commented on #467
Is the whole upload process divided into two steps

1. Upload JSON with file information

2. Upload the actual file

Now, the first step is successful (I've seen the JSON file in Minio). It's a request for HTTPS.

But in the second step, it shows an HTTP request. Then it was rejected by the browser.

The endpoint I configured in tus JS clinet is:
https://www.xxx.com.cn/bsh/oss/files/

I've always

[2021-04-08 07:03] lshz0088 commented on #467
This is the first request. It carries a `Location`

![image](https://user-images.githubusercontent.com/27722002/113982458-5cc8e080-987b-11eb-9c63-a48c49e2b71c.png)

[2021-04-08 07:04] lshz0088 commented on #467
@Acconut The `Location` above is an HTTP protocol

[2021-04-08 17:34] adamhooper commented on #169
I think this should be reopened: the error code needs to change.

HTTP 500 literally means, "Internal Server Error". According to the HTTP spec: if tusd is returning 500, that means there's a bug in tusd.

Ref: https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/500

If tusd is encountering timeouts from its upstream server, I think the correct HTTP status code is 504 Gateway Timeout -- indic

[2021-04-14 15:16] b0bbywan opened #471 "Fail to upload file to s3 with 404 on PATCH, only .info uploaded"
When using tusd with AWS s3 my uploads fails with a 404 on the PATCH request.

The POST seems to work well, I receive a 201 response with an https uri as I wanted, but the PATCH fails after a while (I see upload progressing then failing on Uppy)

**Setup details**
Please provide following details, if applicable to your situation:
- Operating System: linux
- Used tusd version: 1.6.0
- Used tusd dat

[2021-04-14 19:52] Acconut commented on #471
Are you using `http.StripPrefix` when attaching the uploader handler? See https://github.com/tus/tusd/blob/master/cmd/tusd/cli/serve.go#L81 for how it needs to be done.

[2021-04-15 08:32] b0bbywan commented on #471
@Acconut Thanks for your answer.

I'm attaching the handler like this :
[code]

I'm not sure I understand how `http.StripPrefix` helps me here, can you explain me ?

[2021-04-19 10:51] TaridaGeorge opened #472 "How can I set an exit code from grpc hook in java?"
**Question**
How can I set an exit code from grpc hook in java?

According to the documentation for the pre-create hook in order to reject the upload an exit code > 0 should be set. I can't find a way to set this exit code in Java and also If i want to specify the error message I don't know how to do that.

What I've tried:
`return SendResponse.newBuilder().setResponse(Any.newBuilder().setValue(By

[2021-04-20 10:23] b0bbywan commented on #471
I don't have the error when using an HTTP request, only with HTTPS and AWS S3

[2021-04-22 16:33] SagarKabariya commented on #471
Hey, I am also trying to upload from Uppy to AWS S3 using tusd, do you have git link for reference ? It will help me lot, thank you so much in Advance.

[2021-04-25 10:38] sagikazarmark commented on #324
I think this is basically done. There is room for improvement, but the chart is functional and allows turning all the knobs of tusd.

Feel free to open issues: https://github.com/sagikazarmark/helm-charts/issues

Or send PRs for existing ones: https://github.com/sagikazarmark/helm-charts/issues?q=is%3Aissue+is%3Aopen+label%3Acharts%2Ftusd

@Acconut let me know if you want me to send a PR to the do

[2021-04-25 10:38] #324 closed

[2021-04-27 06:53] BaronNerdington opened #473 "Possibility to hide "Welcome" Page"
**Is your feature request related to a problem? Please describe.**
I don't want to expose too much information about my TUS instance, e.g. the accurate version i am using and especially the metrics URL.  I want to keep metrics accessible behind an URL of my choice, but since the accurate path is displayed on the welcome page, there is no way to make a "hidden" url out of the box.

I could hide TUS

[2021-04-30 12:14] ChrisSchinnerl opened #474 "Custom MaxSize"
**Is your feature request related to a problem? Please describe.**
I'd like to set a different MaxSize depending on a request header that a proxy could set after authenticating a user.

**Describe the solution you'd like**
I think a good way to implement this would be by allowing to provide a `func (*http.Request) (int64, error)` in the config. If not nil it would override the other MaxSize field.

[2021-05-04 10:20] Acconut commented on #473
Yes, I can see that this would be helpful. However, since this is a relatively low-priority task, I doubt we will work on this soon, unless someone can help.

[2021-05-04 10:21] Acconut commented on #324
Yes, that would be amazing and help others find this incredible resource as well! :100:

[2021-05-04 10:26] Acconut commented on #471
@b0bbywan Can you please provide a minimal, but complete example where this fails? I have never used Gin before so such a minimal example would be the only way how I could debug it.

[2021-05-04 10:43] Acconut commented on #472
I have never used gRPC with Java, so I cannot give any Java-specific advice. However, if you want to reject an upload, the gRPC invocation must return an error. I think you already found out about this approach from you comment.

If you want a custom HTTP response code, you should set the gRPC error code (see https://github.com/tus/tusd/blob/master/cmd/tusd/cli/hooks/grpc.go#L43-L45). However, I d

[2021-05-04 11:00] Acconut commented on #169
@adamhooper Thanks for the feedback!

I don't think so. 504 is used to indicate that a proxy did not receive a response from the upstream server before the timeout hit. However, tusd is not a proxy, so I don't see 504 as better suited than 500.

I also don't really agree to this :) For me, if a client encounters any 5XX response code, it should retry. 5XX indicate that the error was not caused by

[2021-05-04 11:01] Acconut commented on #467
@lshz0088 There are still multiple `proxy_set_header X-Forwarded-Proto` instructions in your configuration. Please remove these conflicting instructions.

[2021-05-04 13:00] b0bbywan commented on #471
@Acconut Thank you for your answer.

Here's my minimal gin config :

[code]

And logs extract from chrome and TUS when uploading with uppy

[code]

[2021-05-04 13:06] adamhooper commented on #169
Well sure, but so does what I'm saying. The question is, which behavior makes _more_ sense. Or, alternatively, which behavior is _less nonsense_. (Surely we can agree that both behaviors are nonsense.)

You implied tusd isn't acting as a proxy here. Maybe there's some confusion? As I understand it, the 500 response happens when the connection breaks like this:

[code]

(The error must _not_ happen

[2021-05-04 14:34] sagikazarmark commented on #324
@Acconut #475

[2021-05-05 08:20] Acconut commented on #169
Good idea to clarify this first, as this might be the source of our disagreement :) I was talking about timeouts between the client and tusd. Every discussion about 500 error codes or i/o timeouts in this repository (at least every one I am aware of) is focusing on the connection from client to tusd, because this is normally the unreliable connection. My response was formulated with this thinking,

[2021-05-05 08:40] Acconut commented on #471
@b0bbywan Can you please expand the example to include a fully working main function? It should also include how the tusd handler is constructed and how the `engine` is attached to the HTTP handler. Without a fully working example, I will not be able to debug this as I do not have time to come up with a failing program on my own.

[2021-05-05 15:27] adamhooper commented on #169
How can a timeout between client and tusd lead to an HTTP response?

If tusd writes an HTTP response to a client before reading the entire request from the client, that violates HTTP spec. (And even if there _were_ a way in the HTTP spec to send a response before receiving a request, surely 400 Bad Request would be more appropriate than 500 Internal Server Error: the server is literally assuming t

[2021-05-06 16:18] Arcadianer commented on #471
I have a similar issue. What is funny tho is that the same code appears to be working on Windows 10 but on linux i get a 404.

[2021-05-06 16:22] Arcadianer commented on #471
I will provide a example or just send you the code in private in a day or two.

[2021-05-07 12:54] b0bbywan commented on #471
@Acconut Sorry for the misunderstanding. I'm working on it now, however I can't reproduce the error when running directly GIN in HTTPS. The environment where this error happens is behind an AWS Load Balancer, I strongly suspect the problem to come from it.

[2021-05-07 14:18] Arcadianer commented on #471
I also managed to resolve the problem. On my side it had something to do with my container image.
Previously I used to build a bare image with just the software inside. I replaced the bare one with alpine and the error seems to be gone.

[2021-05-07 14:24] b0bbywan commented on #471
@Arcadianer That's interesting, I'm using scratch for my release image, I'll give it a try with alpine.

[2021-05-07 14:28] Arcadianer commented on #471
If it helps, the Dockerfile I am now using looks something like this:
[code]

[2021-05-07 14:46] alameenlr opened #476 "HEAD Request Handling"
**HEAD Request Handling**
Currently majority of CDN services are not responding for HEAD Request properly. Converting HEAD requests to GET and `tus` servers returns 204 and uploads starts from the begging...!
Why `tus` can't  use `GET` Method instead of `HEAD`??

**Setup details**
Please provide following details, if applicable to your situation:
- Operating System: Linux
- Used tusd version: 1.0

[2021-05-07 14:50] b0bbywan commented on #471
@Arcadianer Indeed it works ! Thanks a lot for the heads up !

@Acconut so the problem really is with `scratch` docker image and not https (i'm not sure if Gin is involved or not). Do you want me to close this issue and open a new one for `scratch` ?

[2021-05-09 09:08] thirsch commented on #137
Hi @Acconut, sorry for the big delay. I've been assigned to another project and therefore did not have the time to further work on this.

The issue is, the official image should contain a hash verification step as shown here: https://github.com/docker-library/official-images/pull/6240#issuecomment-510310837

As I understand it, we must produce the binary as a release version and afterwards update

[2021-05-09 14:39] Acconut commented on #476
The are mainly two reasons:
- tusd is designed for uploads and not for serving files. I would not recommend using tusd for serving content or even behind a CDN. You should use a proper server for this job.
- The tus protocol does not need to fetch the content of a file but only the metadata associated with an upload. Therefore HEAD requests fit semantically better than GET requests.

[2021-05-10 23:26] fauxneticien opened #477 "Using pre-finish hook for post-processing"
**Question**
Hi! I have been able to achieve the desired behaviour using a **post-finish** hook and manually uploading to the S3 bucket using the `mc` Minio client:

- Command: `tusd --hooks-dir /hooks` (Using '/srv/data' as directory storage)
- Post-finish script:

[code]

I assumed there was a better way to do the same thing with a pre-finish hook for post-processing the uploaded file, but I can

[2021-05-11 16:06] #477 closed

[2021-05-12 12:35] alameenlr commented on #476
This was I did.
1. Uploaded a file with name `Falcon F16.mp4`
2. I've refreshed the page when upload at 30%
3. Again I stated the upload, it is started from 30%

How it is possible. with out `url-with-id`?
What are the `parameters` used to identify the upload.?

[2021-05-13 13:30] Acconut commented on #476
Ah, I see what your question is. tus-js-client uses a combination of file name, file size, modification date and mime type to see if the file was already uploaded (or began to upload) before: https://github.com/tus/tus-js-client/blob/master/lib/browser/fingerprint.js#L17-L24

It's not a perfect heuristic but has served us very well in the past.

[2021-05-13 14:02] Acconut commented on #459
Apologies for my late response! Currently, there is no easy way to send information from the server to the client after an upload is complete. Instead, you currently have to implement a separate endpoint where the client can fetch additional information. We have plans to implement this natively into tusd, so let us know if you are interested in helping :)

[2021-05-13 14:02] #459 closed

[2021-05-15 21:37] Acconut commented on #471
@Arcadianer Wow, that is an incredible result! I would never have thought the the Docker image can be the cause. In that case, a minimal example would have probably led us in the wrong direction.

As @b0bbywan suggested, I am going to close this issue since the original problem is solved. Feel free to open a new issue for investigating the reason why tusd does not work with `scratch`!

[2021-05-15 21:37] #471 closed

[2021-05-16 21:25] Acconut commented on #474
Apologies, this ticket somehow slipped through my inbox. Hopefully my answer will still be helpful for you:

I do not think a separate configuration is necessary for you to implement this functionality but it can already be done using the `pre-create` hook: Basically, you set the MaxSize very high and instead validate the upload size in the `pre-create` hook. There you have access to the requests

[2021-05-16 21:26] #474 closed

[2021-05-18 13:33] alameenlr opened #479 "Dynamic base-path"
**Question**
How to sent dynamic basepath?
I've seen on this link [https://developers.cloudflare.com/stream/uploading-videos/upload-video-file#nodejs-example](https://developers.cloudflare.com/stream/uploading-videos/upload-video-file#nodejs-example)
[code]
_**They've added  `/{ACCOUNT ID}/stream` on `-base-path` , How it is possible?... do you have any option for that?**_

**Setup details**
Pleas

[2021-05-18 13:42] Acconut commented on #479
This is not possible with standalone tusd. I am not sure how Cloudflare does it since I am not sure whether they are using tusd or some other tus server. However, in theory you can use a reverse proxy before tusd to rewrite the dynamic URL into a "static" URL pointing to tusd. In addition, the proxy could store the account ID for the URL in a header, which can then by consumed in the hooks for tus

[2021-05-18 14:08] mraslam commented on #205
@azharmalik3 @Acconut  Good morning, we are facing the same issue. I tried changing the client_max_body_size in multiple places for nginx but still same issue. Do you have any other suggestion?

[2021-05-18 14:25] Acconut commented on #205
@mraslam Did you correctly set the `-max-size` option for tusd? Besides configuring tusd and nginx, I don't have any other suggestion right now.

[2021-05-20 08:13] benitogf commented on #431
I was able to implement authentication using the http hook:

[code]

[code]

but I would like to limit file reading as well, is there a way to do this? I think that adding a read hook would be useful

[2021-05-20 09:03] Acconut commented on #431
I am not sure what you mean by this. However, tusd has a `MaxSize` setting, which controls the maximum allowed upload size.

[2021-05-20 09:12] benitogf commented on #431
Sorry I meant read access limit, a way to prevent unwanted file reads

[2021-05-21 18:14] erlendvollset commented on #332
Need this aswell. Would be great to get this in!

[2021-05-21 18:22] erlendvollset commented on #479
Couldn't this also be solved by supporting #332?

[2021-05-23 11:06] Acconut opened #482 "Investigate whether tusd is leaking resouces"
The entries at http://master.tus.io/metrics might indicate that tusd is leaking file descriptors and/or goroutines. This is just an idea but these number could be a hint:

[code]

[2021-05-25 10:42] DravitLochan commented on #435
@Acconut Is this still open? I can pitch in for the design, discussion and implementation.

[2021-05-25 10:58] Acconut commented on #435
@DravitLochan Yes, this task is still open. Any help is appreciated!

[2021-05-25 11:00] Acconut commented on #332
@erlendvollset Feel free to open a PR or an issue to discuss implementation details if you are interested in helping. We are currently too low on resources to implement it on our own.

[2021-05-25 11:01] Acconut commented on #479
I don't think #332 would help. Since you are already rewriting the URL using a proxy, the easiest approach is likely to also use the proxy to rewrite the Location header.

[2021-05-25 11:06] Acconut commented on #431
This is not possible using hooks at the moment. When using the `tusd` binary the only option right now is to put a proxy in front of tusd to handle authentication for GET requests. There is no hook emitted for GET requests.

[2021-05-25 20:47] DravitLochan commented on #435
@Acconut Shouldn't the overall file expiry and expiry of partial uploads be two different features? IMO TUS being a protocol (or a pseudo protocol), the overall file expiry should be out of the scope of TUS. That's something the applications should handle using a cron. Thoughts?

[2021-05-26 02:53] alter123 commented on #435
@DravitLochan I think your point of keeping different expiry for completed and partial uploads can be finely grained to configuration which allows user to define

- An overall expiry (based on first creation time of file)
- Different expiry for completed & partial uploads

One another opinion I would like to add is to clean uploads based on max available system disk (e.g. If the disk consumed is >

[2021-05-26 05:47] DravitLochan commented on #435
Well, I am not sure of this as a feature for resumable-uploads. Also as a backend dev, to start deleting the older uploads on disk hitting 90% seems like an unacceptable thing to me. I might start to lose some critical files and hence my end user will start to churn.

If you want to solve the above problem, I'd say the best way would be to have alerts in place for disk hitting 80, 85, 90 and 95%.

[2021-05-26 07:24] alter123 commented on #435
@DravitLochan Your point makes sense, and rejecting the uploads sounds like correct option, but not sure if we need implementation for this at the moment, @Acconut can clarify.

Implementation wise I think storing expiry in [FileInfo](https://github.com/tus/tusd/blob/master/pkg/handler/datastore.go#L10) struct makes sense, since every FileSystem can have different abstraction for the same.

[2021-05-28 19:07] DravitLochan commented on #435
@Acconut what do you think?

[2021-05-31 13:37] sebmasterid opened #484 "Download the uploaded file results in an 404 error with the official Docker Image"
**Describe the bug**
With the official docker image, after uploaded a file with uppy js client, I cannot download the file : 404 error.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the container
2. Start upload a file
3. Try to download the file with the provided url after uploaded is finished.

**Expected behavior**
I expect to be able to download the file with the link in the web pa

[2021-05-31 20:44] sebmasterid commented on #484
I found the solution. I was using an older version of uppy client.

[2021-05-31 20:44] #484 closed

[2021-06-01 11:28] DravitLochan commented on #223
@Acconut Any plan to add "disable-download"?

[2021-06-02 08:52] RobinKamps opened #485 "golang client"
**Is your feature request related to a problem? Please describe.**
does a golang client exist for tusd, or is it planned?

[2021-06-02 08:53] RobinKamps opened #486 "golang client"
**Is your feature request related to a problem? Please describe.**
does a golang client exist for tusd, or is it planned?

[2021-06-02 08:53] RobinKamps opened #487 "golang client"
**Is your feature request related to a problem? Please describe.**
does a golang client exist for tusd, or is it planned?

[2021-06-03 11:46] #487 closed

[2021-06-03 11:46] #486 closed

[2021-06-06 12:56] Acconut commented on #486
Duplicate of #485

[2021-06-06 12:57] Acconut commented on #487
Duplicate of #485

[2021-06-06 12:59] Acconut commented on #485
Many people seem to be very happy users of https://github.com/eventials/go-tus, which is a great library.

[2021-06-07 21:16] Acconut commented on #223
We are open for PRs but do not have a concrete plan to implement it on our own in the near future :)

[2021-06-07 21:52] Acconut commented on #435
Yes, tus should not be concerned about the expiry of files after the upload is completed, but tusd can definitely be concerned about this. There are multiple areas where tusd offers more features than the tus protocol specifies, just because those are handy and fit well into tusd. So, I see not problem when tusd offers expiration of uploads and files in one convenient package. Does that make sense

[2021-06-08 17:30] DravitLochan commented on #223
Sure, V2 is the latest branch, right? Also, can you re-open this issue?

[2021-06-08 17:37] mlnj opened #488 "Changing GCS/S3 prefix with pre-create."
**Question**
Is it possible to decide a prefix for a file on the pre-create hook?

Using Uppy.js with tusd docker containers to upload to Google Storage or S3.
Trying to save files into a structure like:

`<bucket>/<uuid>/<file>`

**Setup details**
Please provide following details, if applicable to your situation:

    Operating System: Linux
    Used tusd version: latest docker (sha256:8fd45989c6

[2021-06-09 12:15] Acconut commented on #488
No, this is unfortunately currently not possible. The prefix (or destination path) cannot be influenced by the pre-create hook (for any kind of storage inside tusd). We are considering adding such a functionality in the future since some people ask for it, but we have no plans for that in the near future.

[2021-06-09 13:28] Acconut commented on #223
Yes and yes. Also, if you are unsure how to approach the implementation, let me know and we can discuss different designs.

[2021-06-15 13:38] #488 closed

[2021-06-19 22:07] mitjap opened #490 "Internal server error when downloading non-finished resource"
**Describe the bug**
When downloading a non-finished upload I get status 500 server error - "cannot stream non-finished upload".

Also HEAD request does not finish in this scenario. (Edit: I found that this was because my HEAD request contained body. I don't think this is even valid HTTP request.)

**To Reproduce**
Steps to reproduce the behavior:
1. Create new resource with POST, with deferred le

[2021-06-27 18:10] DravitLochan commented on #223
@Acconut bump!

[2021-07-01 16:49] #490 closed

[2021-07-01 16:50] Acconut commented on #490
Thank you for the report! I just changed it, so that it now return the more appropriate 400 response.

[2021-07-05 03:04] lshz0088 opened #491 "If I have multiple buckets, do I have to build multiple tusd services？"
**Question**
If I have multiple buckets, do I have to build multiple tusd services？

**Setup details**
Can different 'base path' be used to correspond to different 'buckets'`?

[2021-07-05 08:36] Acconut commented on #491
No, that's not possible. Every tusd process can only upload to one bucket and this bucket has to be specific in advance using the -base-path option. I are able to work around this by uploading into one bucket and then copy the objects into different buckets once the upload is complete.

[2021-07-09 06:57] Acconut commented on #169
Apologies for my late reply. This conversation slipped through my notifications.

tusd internally has a read timeout. I.e. if tusd is not able to read from the connection for X seconds, it will raise a timeout error. Since the connection from the server to the client might still be intact, the timeout response can also arrive at the client. In general, a timeout error does not always indicate a br

[2021-07-09 13:39] adamhooper commented on #169
Hey, you're right -- [RFC7230, section 3.4](https://datatracker.ietf.org/doc/html/rfc7230#section-3.4): "A server that receives an incomplete request message, usually due to a canceled request or a triggered timeout exception, MAY send an error response prior to closing the connection."

There's an HTTP status for that: [HTTP 408 Request Timeout](https://datatracker.ietf.org/doc/html/rfc7231#secti

[2021-07-11 17:52] Acconut opened #492 "New major version (v2) of tusd"
After the last major release (https://github.com/tus/tusd/issues/212), this issue is used to track possible changes for the next major release (v2):

- Change the HTTP status code for client caused timeouts from 500 to 408 (see https://github.com/tus/tusd/issues/169#issuecomment-877197279).

[2021-07-11 17:52] Acconut commented on #169
Good idea, thanks for pointing it out! I have added this to the list of possible changes in the future: https://github.com/tus/tusd/issues/492

Yes, please do so, if you notice suspicious errors there! :)

[2021-07-12 05:15] DipakPatilNtnx opened #493 "S3Store patch call takes few minutes to complete and sometimes write completes with 0 bytes or very less."
**Describe the bug**
In our production we see instance of this issue very frequently. Observation is write chunk starts and ends after several minutes without failure. This stuck patch either writes 0 bytes or few bytes. Other thing is while this patch is stuck we get HEAD calls. Earlier we were not using the locker extension at that time this was ending up in corruption. Now we are using the lock

[2021-07-20 07:57] gcolombeau opened #494 "Temp files are not cleaned up on `read tcp: i/o timeout` errors"
**Describe the bug**

When a `read tcp: i/o timeout` happens, tusd does not clean up the corresponding temporary file. When the client tries to send the chunk again, a new temporary file is used, leading to an ever growing disk space usage due to leftovers.

Here are the logs I get for example:

<details>
<summary>Show logs</summary>

[code]

</details>

**To Reproduce**

I don't know how to repro

[2021-07-28 22:32] Acconut commented on #137
Hi @thePanz, hope you are all well! I have also been quite busy in the meantime!

Seems so, yes. This makes this matter much more complex though.

Yes, that should be possible. We can modify files in the workspace during GitHub Actions is running and then use an action like https://github.com/marketplace/actions/add-commit to commit the changes. Of course, we than have to make sure that this commi

[2021-07-30 16:40] TaridaGeorge commented on #472
This works:
[code]
from here: https://github.com/saturnism/grpc-by-example-java/blob/master/error-handling-example/error-server/src/main/java/com/example/grpc/server/ErrorServiceImpl.java#L33

https://github.com/avinassh/grpc-errors/issues/4

[2021-07-30 16:40] #472 closed

[2021-07-30 16:47] TaridaGeorge opened #496 "Failing in the prefinish hook does not notify the client for error?"
I want to know what is the expected behavior when an error is thrown from the pre-finish hook.
Should the error propagate to the client or not?

I was thinking that if I throw an error from the pre-finish hook this error will propagate to the client, but this doesn't seems to be the current behavior. In the tusd server I can see this:

[code]

but the client success callback handler is called.

Is

[2021-08-02 12:32] Acconut commented on #496
Yes, this is currently the expect behavior. The error response from tusd to the client contains the error message that you set in the gRPC endpoint: `pre-finish hook failed: rpc error: code = Internal desc = Unable to handle the uploaded file!`

In the future we hope to make the error response caused by hooks more customizable (i.e. set a custom response code and body), but this is not yet impleme

[2021-08-04 14:18] OKaluza opened #497 "When using S3 storage sometimes files are shown as uploaded but a zero byte object is stored"
**Describe the bug**
I'm not sure if this is an issue with Uppy or tusd, but I have a tusd server connected to an S3 compatible store (On OpenStack Swift) which I'm uploading files to with the Uppy react Dashboard element.
Everything works well most of the time, but when uploading large numbers of files (eg: 907 jpg images in my test case) all of the files are marked as uploading successfully and

[2021-08-05 11:47] a852882874 opened #498 "The transmission will fail after half an hour?"
![Uploading 1628164035(1).png…]()
![1628164064(1)](https://user-images.githubusercontent.com/25943026/128344961-2fe4109b-7a40-429c-9345-fe561334d6cd.png)

[2021-08-05 11:48] #498 closed

[2021-08-05 11:49] a852882874 opened #499 "The transmission will fail after half an hour?"
![1628164163(1)](https://user-images.githubusercontent.com/25943026/128345131-dd69e871-cb38-40cb-ad6d-fddb1ff289e8.png)
![1628164182(1)](https://user-images.githubusercontent.com/25943026/128345159-0c0481e3-168c-433d-beda-021e9e510872.png)

[2021-08-07 10:46] Acconut commented on #499
You must fill out the template when opening such an issue or otherwise we do not have enough information to help you. A screenshot is not a sufficient description for a bug.

[2021-08-10 21:07] Acconut commented on #497
Interesting report, thank you! My first guess is that maybe OpenStack Swift is behaving differently than S3, confusing tusd. Can you please record the tusd logs for all uploads and send them over? If the file would be too large for GitHub, you can also mail it to marius@transloadit.com.

Yes, that is because tus-js-client and Uppy store the upload URL associated with your files in localStorage. Ei

[2021-08-10 21:15] Acconut commented on #223
@DravitLochan Apologies for the late reply!

I think this approach would sound amazing! In addition, if DisableDownload is true, the GET handler should not be mounted, so the GET requests get directly denied from our HTTP router (i.e. put this line into an conditional statement: https://github.com/tus/tusd/blob/master/pkg/handler/handler.go#L43)

[2021-08-11 01:53] OKaluza commented on #497
Thanks @Acconut, I tried to find a log file but it doesn't seem to be there, where is it kept?
Do I need to pass a flag to enable logging? I tried adding "-verbose" but didn't seem to make a difference, according to https://github.com/tus/tusd/blob/master/docs/usage-binary.md that is on by default anyway.

[2021-08-11 20:35] mart-jansink opened #500 "Hooks only get offset of the current chunk, not of the entire file like before"
**Describe the bug**
Prior to 6d987aa226e2e6cefca1df012da5599a57622b17 the `post-receive` hook (a.o.) got the `Offset` relative to the entire file. But in this commit https://github.com/tus/tusd/blob/97602c3d62ecc60e48627be9772aa29e0acf54b8/pkg/handler/unrouted_handler.go#L980 was changed to https://github.com/tus/tusd/blob/6d987aa226e2e6cefca1df012da5599a57622b17/pkg/handler/unrouted_handler.go#L

[2021-08-12 09:58] milelu-y opened #501 "How to cancel compression"
At present, there is a requirement that no compression will be carried out after transmission. What kind of data will be transmitted. Is there an option to configure the option to cancel compression

[2021-08-19 20:58] Acconut commented on #501
What compression are you referring to? tusd does not compress incoming data, so I am not sure what you exactly mean.

[2021-08-20 01:28] milelu-y commented on #501
Hello, I sent in 700m data and received only 300m from the service

[2021-08-25 15:57] erlendvollset opened #502 "Azure store implementation not released"
Looks like the build failed on master due to some flakiness. Could you rerun the build so that the image is built and published?

[2021-08-25 15:57] erlendvollset commented on #502
@omBratteng @Acconut

[2021-08-26 19:43] sean9999 opened #503 "1080 is a bad port"
**Describe the bug**
1080 is for SOCKS proxy. It is registered with IANA. This is an awesome app built upon an awesome spec. You should choose an available port and register it with IANA

**To Reproduce**
1. see here: https://www.iana.org/assignments/service-names-port-numbers/service-names-port-numbers.xhtml?search=socks

**Expected behavior**
I should be able to run SOCKS and tusd, using their n

[2021-08-31 02:30] lshz0088 commented on #238
@Acconut

In order to be compatible with `POSIX` standard, can you replace it with the following `flag`?

Otherwise, parameters cannot be passed in the docker in brackets.

https://github.com/spf13/pflag

[2021-08-31 06:58] Acconut commented on #238
@lshz0088 Please open a new issue about this proposal. Replacing the flag parser is possible but might also break the use cases for existing users, so it must be considered very carefully.

[2021-09-06 01:07] AKlaus commented on #401
Can we extend the feature request by adding:

1. Support _Azure File Storage_ along with _Blob Storage_.
2. Compute the MD5 hash of the file and put it base64 representation in the `Content-MD5` property of the blob.

It seems that the linked PR doesn't have it if I'm not mistaken (I'm terrible in Go).

[2021-09-09 08:19] omBratteng commented on #401
@AKlaus may I ask what benefit computing the MD5 hash of the file has? (I've never used it, so I am curious)
Would you compute the MD5 hash of the block of the blob, or the entire file?

[2021-09-09 18:27] Qoraiche commented on #452
I had the same issue, the problem is that the backend is not accepting large content-length chunks so you either need to configure your server to accept large requests or use the **chunkSize** UppyJs Tus client parameter to limit the chunks are being sent through the browser.
hope this helps

[2021-09-10 23:22] sean9999 commented on #467
I had this problem using and nginx-based kubernetes ingress proxy. The solution was to add something like this:

proxy_redirect http://mydomain.tld https://mydomain.tld;

http://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_redirect

[2021-09-11 10:09] AKlaus commented on #401
The hash is used to verify the integrity of the blob/file during transport.
Form experience, the likelihood of broken transmission is 1/1,000,000 and may appear negligible, but my users transfer many million files.

[2021-09-21 06:43] benitogf opened #506 "integration with digitalocean spaces"
currently I'm not able to use tusd with digitalocean (s3 compatible service) spaces
I'm able to upload files, but not getting them through tusd

**To Reproduce**

I'm using this systemd service file to run tusd:

[code]

**Expected behavior**

I tested getting the uploaded files through `s3cmd` and it works, but the tusd api to fetch them cannot find them

**Setup details**
Please provide followin

[2021-09-27 05:21] mcunningham opened #508 "Metadata being properly set on object after upload to S3 bucket"
**Describe the bug**
I have a cloud hosted tusd server and I am currently uploading files via the tus-js-client. I am following the basic [node.js example](https://github.com/tus/tus-js-client/blob/master/demos/nodejs/index.js). I am able to upload files to S3, however the file metadata I am setting in the tus-js-client upload call is not being reflected properly on the S3 object. For example, I w

[2021-10-07 13:44] Acconut commented on #508
Yes, this is expected. tusd does currently not set the `Content-Type` header for S3 objects. It only adds all the meta data from the tus upload as meta data for the S3 object. If you are interested in improving this situation, feel free to open a PR! We are always happy to assist. :)

[2021-10-07 13:58] mcunningham commented on #508
@Acconut Thanks, so if I want to set Content-Type from the tus-js-client to be displayed in S3 properly afer upload where would I do so? I tried passing in the below but it didn't work

[code]

[2021-10-13 17:46] Acconut commented on #401
I am going to close this issue since the main feature request (general support for Azure has been implemented in #458). @AKlaus If you have some additional ideas or feature requests, please feel free to open a new issue. Having separate issues helps with avoiding confusion :)

[2021-10-13 17:46] #401 closed

[2021-10-13 19:09] Acconut commented on #500
Thank you very, very much for the detailed ticket and apologizes for not addressing it sooner. The issue should be fixed in the latest commit.

[2021-10-13 19:48] Acconut opened #509 "Fix deploy to Heroku"
Currently, the deploy to Heroku is broken. Needs to be fixed: https://github.com/tus/tusd/runs/3887021623

[2021-10-13 19:48] Acconut opened #510 "Upgrade the Go version used to build release binaries"
Right now Go 1.13 is used for building the release binaries for tusd. This should be upgraded to the latest version Go 1.17.

[2021-10-13 19:56] Acconut commented on #467
Thank you for your input, @sean9999. That's very helpful if people come across this issue in the future.

Since I haven't heard back from the original author @lshz0088, I am going to close this issue. If the problem comes back, feel free to open a new ticket.

[2021-10-13 19:56] #467 closed

[2021-10-13 19:57] Acconut commented on #509
Fixed in https://github.com/tus/tusd/commit/5614cecb608f2a187e3018730d4afcb793fa3ddd

[2021-10-13 19:57] #509 closed

[2021-10-13 20:13] #510 closed, assigned to Acconut

[2021-10-13 20:21] Acconut opened #511 "Update Docker build process"
Previously we used the Docker Build service to build the Docker images by Docker hub themselves. Since they changed their pricing, this feature is no longer available and the Docker images there are outdated: https://hub.docker.com/repository/docker/tusproject/tusd/tags?page=1&ordering=last_updated

Either we try to get a free subscription as an open-source project or build the Docker images on ou

[2021-10-13 20:22] #502 closed

[2021-10-13 21:49] omBratteng commented on #511
Let me know if you need any help with this @Acconut.

[2021-10-13 21:55] omBratteng opened #513 "`TestWriteChunkCleansUpTempFiles` test fails at random times"
The S3 test `TestWriteChunkCleansUpTempFiles` fails at random times, especially in the CI pipeline, and only seems to be on linux.

Doing some digging locally, and I see that the temp directory has three files in it when the test fails.
1 at 10 bytes with `1234567890`
1 at 4 bytes with `ABCD`
1 at 0 bytes (this is the one that causes the test to fail)
[code]

Using this dockerfile
[code]

With thi

[2021-10-13 21:57] omBratteng commented on #513
Output of the patched test, truncated the tests that passed
[code]

<details>
<summary>Full test log</summary>

[code]

</details>

[2021-10-15 20:31] Acconut commented on #511
Thank you very much for your offering, @omBratteng! That would be very helpful. I don't use Docker on a daily basis, so my knowledge regarding Docker is a bit rusty :)

If I understand our current CI setup correctly, we already build the Docker image on GHA and push it to the registry using the last commit as the tag: https://github.com/tus/tusd/blob/16a3747ec421c041587f995ef4a00dc3e4ca004d/.githu

[2021-10-17 21:53] Acconut commented on #497
Apologies for my late reply, @OKaluza. I was out of the office for some time. Let me know if this behavior is still occurring.

tusd does not create a log file but simply writes its output to stdout/stderr. It is then the user's responsibility to store the output in a file if desired so. We have desired to not include file logging functionality in tusd to reduce complexity.

[2021-10-18 02:53] lshz0088 opened #514 "How can I use the ". Info" file created automatically by tusd?"
**Question**
at https://github.com/tus/tusd/issues/466

If the architecture I use is `Tusd+Minio`。

Tusd URL:  http://tus.test.com/files/134ed54107fbe474462151ff0da5f98a+89f1581d-447a-46f7-97c3-8b7f52a2155b

Minio URL: http://minio.test.com/bucketname/134ed54107fbe474462151ff0da5f98a

When using Minio, the information in `. Info 'cannot be read automatically, as shown below

![image](https://user-

[2021-10-18 13:14] #511 closed, assigned to Acconut

[2021-10-18 17:45] omBratteng commented on #511
@Acconut take a look at #511, reach out to me if you want to discuss it

[2021-10-20 12:20] omBratteng commented on #513
I think the difference is this
[code]

[2021-10-20 14:59] omBratteng commented on #513
PR to fix the non-failing failing tests on Windows #526

[2021-10-21 13:52] omBratteng commented on #513
So just check if the number of files <=3?

[2021-10-25 10:48] omBratteng opened #538 "New release?"
@Acconut should there be a new release, both to test out the new workflow, and just get a release with the latest dependencies?

[2021-10-26 10:56] MarhabaLRS opened #541 "How to reduce CPU usage of tusd, and speed up?"
**Question**
How to reduce CPU usage of tusd, and speed up?
I'm using docker container to host tusd. The Container(1GB RAM/1 CPU).
When the service started 5% was the CPU usage, after 2,3 uploads 100% is the CPU usage?
The next uploads will stuck at __%. I've tried many times.
and this is **The Logs**
[code]
I've checked browser network status, 2.5K+ Requests,
[code]

**Setup details**
Please prov

[2021-10-28 15:13] SheldonXLD opened #545 "example/hooks/pre-create is wrong"
I don't have a condition to pull request, so just submit an issue.

In example/hooks/pre-create,
should be add "Upload" in jq .MetaData.filename
#!/bin/sh

filename=$(cat /dev/stdin | jq **Upload**.MetaData.filename)
if [ -z "$filename" ]; then
  echo "Error: no filename provided"
  exit 1
fi

----

json output of  `cat /dev/stdin | jq .`  is

{
  **"Upload":** {
    "ID": "",
    "Size": 19720,

[2021-10-29 09:01] #545 closed, assigned to nobody

[2021-10-29 09:31] #538 closed, assigned to nobody

[2021-10-29 11:46] #541 closed, assigned to nobody

[2021-10-29 12:23] Acconut opened #548 "s3store: Try out Minio SDK"
Currently the s3store uses the official AWS Go SDK. We are continuously seeing high CPU usages with this. It is quite likley that this usage comes from the network communication with S3 and/or the writing off the temporary files.

To rule out that the AWS Go SDK itself provides an overhead, we might try switching to the Minio SDK (https://docs.min.io/docs/golang-client-api-reference) in a separate

[2021-11-08 12:38] mmohaveri commented on #356
My initial though is let's expose all events (that may lead to a log) to outside using a hook that sends them over a channel (the same way we're handling other hooks). This way changes in tusd will be minimal, we won't have to decide on a common logging interface, and users will be free to do whatever they see fit with those events.

I know this is not "Log with an interface" per se, but this will

[2021-11-09 17:06] TaridaGeorge opened #560 "TLS GRPC?"
Is there a way to achieve secure connection while using the tusd grpc hooks? My GRPC Server is secured via TLS certificates and any clients connecting to it must show their certificate.

[2021-11-09 18:14] anyght opened #561 "Can tusd server return HTTPS?"
**Question**
Hi, I deployed Tusd In kubernetes behind an ingress with TLS. I can send request with TLS to the server, but it return a HTTP response. I can't upload my file to the bucket. due to CORS error.

![image](https://user-images.githubusercontent.com/59748997/140980270-ef7cb973-3bd3-48e0-a721-ae5bc903053c.png)

[2021-11-09 18:15] TaridaGeorge commented on #560
I think that in order to have this one should implement the grpcOpts from here
https://github.com/tus/tusd/blob/774b7bec6e3ee3e684ccb45ceac3e71d1ae7c3e9/cmd/tusd/cli/hooks/grpc.go#L26
something like here:
https://github.com/grpc/grpc-go/blob/bac0a7e47f70cf08cd80193ff26a55d954e1e102/examples/route_guide/client/client.go#L157

I will try to see If I can proxy the grpc insecure request view nginx to

[2021-11-11 17:01] mohandass-pat opened #564 "Can we dynamically pass bucket name from uppy for tus upload?"
Right now want to allow our users to upload data with different buckets. Can we pass bucket names dynamically if we use the existing helm charts without setting bucket name in env?

[2021-11-11 17:20] oschrenk commented on #564
A single tusd process can only upload to a single bucket

See also response from maintainer

https://github.com/tus/tusd/issues/491#issuecomment-873920897

[2021-11-11 22:16] Acconut commented on #564
@oschrenk is correct. The upload destination inside tusd cannot be changed dynamically at runtime.

[2021-11-15 10:47] Acconut commented on #560
I am no expert at gRPC but tusd does not have such a feature, as far as I know. If you are interested in adding it to tusd, let me know and I can help you with a PR.

[2021-11-17 14:55] Acconut commented on #356
Interesting idea with the channel, but I think it also comes with a few drawbacks. Mainly, it could lead to blocking channel writes in the request handlers if the receiving end is not able to empty the log channel fast enough. In my opinion, a simple log interface with the corresponding option in the `Config` struct should be enough. The interface could look like this:

[code]

Those changes shoul

[2021-11-17 17:31] mmohaveri commented on #356
I agree with your concern, what you're describing can happen and detecting it will not be an easy task for the end user. But I have problems with your suggestion. It doesn't allow structured logging (because everything is string), in some cases it may be inefficient (due to string conversion when the log endpoint is not a file, like logging to sentry), and it won't allow the user to select what th

[2021-11-21 08:27] TaridaGeorge commented on #560
I've solved it using nxing.

[code]

[2021-11-21 08:27] #560 closed

[2021-11-22 10:29] anyght opened #574 "Can I specify bucket custom path for the upload?"
**Question**
Hello there,
I want to upload an objet to GCS bucket with a specified path, with tusd server connected to my bucket with the command `tusd -gcs-bucket=my_bucket`.
When I upload an objet, this objet name is a generate value on the bucket.

So I want to get something like `My_bucket/custom_path/filename` or `My_bucket/custom_path/generate_id` for the upload filename

How can I specify t

[2021-11-22 12:36] Acconut commented on #574
You can control the folder on GCS, in which the upload will be saved using `-gcs-object-prefix`. The filename will always be generated by tusd and cannot be controlled by you. If you want to have a specific filename on GCS, you must rename/move the object after the upload is complete.

[2021-11-22 12:54] anyght commented on #574
it is possible to have multiple prefix ? with

[2021-11-22 12:56] Acconut commented on #574
No, the prefix must be specific when starting tusd and cannot be changed at runtime. In addition, there can only be one prefix.

[2021-11-22 13:40] fbossiere commented on #574
Interesting, thank you. And is there a way to deploy TusD which allows a greater flexibility regarding the prefix or the file naming ? Maybe we have to use another version of TUS ?

[2021-11-22 14:30] Acconut commented on #574
If you want fully customized paths, we recommend to use tusd to upload file in one folder and them move/rename them according to your preferences. This way you have the stability of tusd but the flexibility you want.

[2022-01-06 05:42] imcodingideas opened #606 "Web MediaRecorder getUserMedia Blob to tusd AWS S3 data storage"
**Question**
I have a theory I want to try. I would like to take the web [getUserMedia](https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getUserMedia) blob and "stream" upload it to a tusd AWS S3 data storage. Think Loom desktop and webcam. It's super fast to upload/encode it and I think they are using something like this setup.

Could this work? Am I going down the right path? If not

[2022-01-06 09:31] Acconut commented on #606
I don´t think there any obvious gaps in your idea. In fact, there is a demo in the tus-js-client repository for the client-side code that is responsible for streaming the video to tusd using getUserMedia:

https://github.com/tus/tus-js-client/blob/master/demos/browser/video.js
https://github.com/tus/tus-js-client/blob/master/demos/browser/video.html

That should help you a lot :)

[2022-01-06 21:40] gmondragon opened #607 "TUSD with S3 backend responds "unsupported version" when I try to remove"
**Question**
Hello. I am currently using TUSD with AWS S3 in my project. When trying to delete by sending a "DELETE" request, the server replies "unsupported version". I've made sure "termination" is in the "Tus-Extension" header.

<img width="891" alt="Screen Shot 2022-01-06 at 16 40 10" src="https://user-images.githubusercontent.com/3044064/148455913-935041e7-eeca-45c0-a32a-1692c1325174.png">

I

[2022-01-06 23:12] Acconut commented on #607
Please make sure to include the `Tus-Resumable: 1.0.0` header in your request.

[2022-01-08 08:56] rezaalimorady opened #611 "Is there any document for api calling?"
**Question**
I want to test routes and need completely guide for calling api.
For example for start uploading at first should call the bla bla api and set these headers and these bodies.
For resuming upload calling bla bla api and set these headers and these bodies.
I want to test them with POSTMAN.
Need suitable documentation for API calling.

**Setup details**
- Operating System: Ubuntu
- Used t

[2022-01-08 10:51] oschrenk commented on #611
Does the documentation at https://tus.io/protocols/resumable-upload.html fit your needs?

[2022-01-08 12:45] Acconut commented on #611
@oschrenk is correct. The documentation for its API is the tus specification.

[2022-01-09 10:32] rezaalimorady commented on #611
Thats it
Thanks
@oschrenk

[2022-01-09 10:33] #611 closed

[2022-01-09 10:55] rezaalimorady opened #612 "How set offset in partial upload?"
**Question**
How set partial offset in partial uploading?
the document say that we should not set offset in partial upload.
![image](https://user-images.githubusercontent.com/60624937/148678987-0dcd1022-a6f1-4c53-aeba-a7816c3670ef.png)
This method not get the first id?
how could we found wich chunk is for wich Id?
who should save or remember the ids posted for a video .
finally we want to concaten

[2022-01-09 14:46] #612 closed

[2022-01-09 21:53] Acconut commented on #612
I hope you already found the answer on your own! I will just answer here as well, in case another person is looking here.

Upload-Concat: final;/files/C /files/B /files/A
so is there any way to prevent this happens?

You have to keep track of the order of partial uploads on your own. You cannot attack offsets to partial uploads in the way you are asking for here. Partial uploads can be concatenate

[2022-01-10 12:21] rezaalimorady opened #614 "add some jobs in pre create hook"
**Question**
How can i manage pre create hook? or other hooks?
for example i want to save user agent in pre create hook.
in wich file should i use that?
is there any document for hooks?

[2022-01-10 12:47] Acconut commented on #614
The documentation for hooks is at https://github.com/tus/tusd/blob/master/docs/hooks.md, as mentioned in the README.

[2022-01-10 12:53] rezaalimorady commented on #614
I use the -hooks-dir for example/hooks and it works.
but it is a bash script file.
i wanna use go file. how could i do that

[2022-01-10 13:27] rezaalimorady commented on #614
And how could i change status code 500 to 400 when hook  return error?
![image](https://user-images.githubusercontent.com/60624937/148773656-90a713ef-0414-4317-8156-8996ad6eae5d.png)

[2022-01-10 13:36] Acconut commented on #614
Compile your Go code into a binary, rename it to `pre-create` and place it into your hooks directory.

This is not possible until https://github.com/tus/tusd/pull/516 is completed and merged.

[2022-01-11 07:40] renepardon opened #616 "post-finish hook gets called multiple times"
**Describe the bug**
The "latest" version calls the `post-finish` hook multiple times (3 times). Reverting to `tusproject/tusd:v1.8.0` works quite good.

**To Reproduce**
Steps to reproduce the behavior:
- Create a SAAS project including TUSD for file uploads and deploy everything with Docker swarm. Use `image: tusproject/tusd:latest` image.
- Command I used for the container: `command: -verbose -

[2022-01-11 08:21] rezaalimorady commented on #614
and how access the uploaded ID and other need detail in go file?

[2022-01-11 10:50] Acconut commented on #614
Read the stdin using `os.Stdin` and parse it using the `encoding/json` package.

[2022-01-12 11:37] Acconut commented on #616
Thank you for the report. I am not convinced this is a bug in tusd. This has never happened for our usage of non-HTTP hooks, so it is probably not related to the core hook logic. Could it be that your hooks endpoint responds with an error or takes to long to respond? If so, the retry logic would kick in and resend the same hook request.

[2022-01-12 11:43] renepardon commented on #616
hi @Acconut
this is indeed a HTTP hook. The called application is a PHP laravel application.
What is the time limit for hook response before the hook gets sent again? Maybe I can reproduce this. Usually the response should be back in no longer than a second but if not, I could also move the corresponding logic to the background and respond faster.

[2022-01-12 11:50] Acconut commented on #616
I don´t know out of my head. It could be that it used the default timeout values from Go's `net/http` package.

[2022-01-12 12:20] renepardon commented on #616
@Acconut ok looks like that there is an error response being returned. So tusd tries to call the same hook again for 2 more times? Is there a setting to prevent that or to increase the time before it's tried again?

[2022-01-12 12:22] renepardon commented on #616
ok, searched for the cli flags and found the answer, there is :) `hooks-http-retry` and `hooks-http-backoff`

thanks!

[2022-01-12 12:22] #616 closed

[2022-01-13 12:03] #614 closed

[2022-01-13 12:13] rezaalimorady opened #620 "S3 bucket configuration"
**Question**
Should i config my s3 detail in Flags.go file?
And is there any example for configuration s3 bucket?

[2022-01-13 12:14] rezaalimorady commented on #620
all file will directly uploading on s3 bucket? or saving on local storage after completing upload on s3 bucker?

[2022-01-13 12:17] rezaalimorady commented on #620
If all file directly uploading on s3, this module how will clean the bucket for files that is not complete ?
thinking i upload a file on s3 bucket and its not completly. stopping upload.
my file in the s3 is not complete file. right?
user never try to complete the upload.
how this module detect this file is not complete and remove it?

[2022-01-15 08:16] rezaalimorady opened #622 "How can pass headers to hooks?"
**Question**
How can i pass headers (such authorization) to hooks?
I am using go file for hooks just asked here ([https://github.com/tus/tusd/issues/614#issuecomment-1008880880](https://github.com/tus/tusd/issues/614#issuecomment-1008880880))

I want to access headers here. how should i pass the header to hook?

[2022-01-15 12:10] rezaalimorady commented on #622
answer is all headers in request is in `stdin` for use :)

[2022-01-15 12:10] #622 closed

[2022-01-16 17:55] Acconut commented on #620
No, just pass the flags on the command line

https://github.com/tus/tusd/blob/master/docs/usage-binary.md

Yes

It won't. You must take care of that. S3 has some options to remove unfinished mulitpart uploads and old files.

[2022-01-19 07:36] renepardon opened #625 "TUSD behind Traefik 2 reverse proxy"
**Question**
I can not make the file upload work with TUSD sitting behind Traefik 2. We Upload with Uppy within a create-react-app. TUSD runs on a Docker Swarm cluster. example.com is a replacement for our domain which can be called with HTTPS only.

The error is the folowing:

[code]

The corresponding tusd service in stack.yml looks like:

[code]

On Traefik itself i configured the following hea

[2022-01-19 11:02] renepardon commented on #625
Ok, was not my fault on server side, was Uppy itself: https://github.com/transloadit/uppy/issues/2285#issuecomment-632920770
This helped. So I had to clear local storage explicitly. Reload without Cache is not enough.

[2022-01-19 11:02] #625 closed

[2022-01-27 04:30] imcodingideas commented on #606
Thank you @Acconut, this validates thats its worth the effort to pursue. 🙌

[2022-01-27 04:31] #606 closed

[2022-01-27 22:24] joshcurtis commented on #420
Upgrading to v1.8 fixed this for us (I'm on the issue author's old team). Based on the discussion here I'd guess #535 was the fix.

[2022-01-28 17:24] Acconut commented on #420
@joshcurtis Awesome, thanks for letting us know! Glad that it fixes the issue for you

[2022-01-28 17:24] #420 closed

[2022-01-29 07:07] rezaalimorady commented on #620
Is that possible define s3 endpoint and bucket like `export AWS_ACCESS_KEY_ID=zxxxxxx`
I don't like to define them in flags.
what is key of them
for example `export WHAT=xxxxxx`
i am looking for suitable key instead WHAT for s3 endpoint and bucket name

[2022-01-29 12:28] #620 closed

[2022-01-29 12:46] Acconut commented on #620
No, that's not possible. These can only be defined using flags.

[2022-02-01 11:28] rezaalimorady opened #639 "post create hook not work in docker"
I created a directory and it name is hooks in project root
![image](https://user-images.githubusercontent.com/60624937/151960191-6c8d0d70-782a-463c-84bd-35a293acc7af.png)

and this is my dockerfile

[code]

When i run this command :  `go run cmd/tusd/main.go  --hooks-dir ROOT_PROJECT/hooks` everything works correctly.
but in docker hooks not work.
need help for this.

[2022-02-01 12:23] rezaalimorady commented on #639
![image](https://user-images.githubusercontent.com/60624937/151967651-b318c17d-8039-4d9f-b83d-ecd79704e556.png)

here is tusd-hooks directory

[2022-02-01 12:27] rezaalimorady commented on #639
when i call the api i get 201 response:
![image](https://user-images.githubusercontent.com/60624937/151968017-899a9d64-9031-4a18-a8ea-db8c54333d69.png)

and in logs :
![image](https://user-images.githubusercontent.com/60624937/151968141-21862eaf-149c-4978-b1d3-8ffda477b77d.png)

[2022-02-03 09:17] Acconut commented on #639
How do you know the pre-create hook is not working? Can you elaborate? I don't see any errors.

[2022-02-18 08:15] meidlinga opened #659 "Configuration using environment variables"
**Is your feature request related to a problem? Please describe.**
In modern containerized environments things tend to be easier when the application is configurable via environment variables.

**Describe the solution you'd like**
I would like to configure all the things configurable using flags, also by enviroment varables. They should have the same naming with a prefix. e.g.: `-azure-storage` be

[2022-02-18 08:41] meidlinga opened #660 "Help stating wrong environment variables to configure Azure storage"
**Describe the bug**
`tusd -help` states `AZURE_ACCOUNT_NAME` and `AZURE_ACCOUNT_KEY` must be configured, if using `-azure-storage`.
The variables read are `AZURE_STORAGE_ACCOUNT`, respectively `AZURE_STORAGE_KEY`.

Full output:
[code]

[2022-02-18 11:03] meidlinga opened #661 "Azure storage backend leaks information"
**Describe the bug**
Azure storage backend leaks information:
* The used client library including version
* The underlying error
* The Storage Account Name / URL
* X-Ms-Client-Request-Id
* X-Ms-Request-Id

Example:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Setup a storage account in Azure
2. Start tusd using Azure as Storage Backend
`./tusd -azure-storage=tusd`
3. Send HTTP GET

[2022-02-19 13:01] meidlinga opened #662 "No locker when creating Azure Composer"
**Question**
Every composer in composer.go uses a memory locker, but not Azure. Was that forgotten, or is this on purpose?

[2022-02-21 11:28] #662 closed

[2022-02-21 11:28] #660 closed

[2022-02-21 11:29] Acconut commented on #660
Thank you for reporting!

[2022-02-21 11:29] Acconut commented on #662
Thank you for reporting!

[2022-02-21 12:45] Acconut commented on #661
Thank you for the detailed report. If I understand this correctly, Azure is returning a BlobNotFound error that we a not handling correctly and instead forward directly to the client. It's probably best to add special treatment for these situations to the error handling so that tusd returns the correct 404 response in this situation. Similar code already exists for the s3store: https://github.com/

[2022-02-21 12:47] omBratteng commented on #661
@Acconut I will try to replicate it, and come with a fix

[2022-02-21 12:51] Acconut commented on #661
@omBratteng Thank you very much!

[2022-02-21 14:05] omBratteng commented on #661
I've reproduced it, and I'll get a fix sometime this week. Just got back from vacation, so lots to catch up with.

[2022-02-21 14:07] meidlinga commented on #661
@Acconut , @omBratteng : Thanks for taking care of this so fast. Microsoft is giving free credit for Open Source Projects utilizing Azure. Maybe it could be worth to apply[1], so the Azure Storage backend can be covered in CI?

If I can help in any way, please notify me.

[1] https://opensource.microsoft.com/azure-credits#credits-apply

[2022-02-21 14:08] omBratteng commented on #661
Thanks, was not aware of free credits for Open Source. I won't be using it for fixing this, as I already have the needed credentials.

[2022-02-24 11:43] omBratteng commented on #223
@Acconut any work being done with this? If not, I can take a look, as we need to prevent downloads.

[2022-02-24 13:22] Acconut commented on #223
@omBratteng No, there has been no work done from our side. A simple option to disable the mounting of the GET handler would suffice. Feel free to open a PR for that.

[2022-02-24 13:55] omBratteng commented on #223
@Acconut PR opened in #668

[2022-02-24 14:01] omBratteng commented on #223
I also added a flag to disable deletion of uploaded files

[2022-02-24 19:52] meidlinga opened #669 "Authentication"
**Is your feature request related to a problem? Please describe.**
When using tusd for multiple users, different users should not be able to access other users uploads in any way.
In my current situation, this applies to all possible operations, tusd supports on uploads.
Eventually in other situations, get could be whitelisted, while I would keep it simple initially.
I am aware, that the currently

[2022-02-26 09:49] Acconut commented on #669
Yes, that is a very good idea. We have discussed and agreed on implementing additional hooks to facilitate authentication and authorization. Feel free to have a look at the discussions in #431 and #483. However, no work has been done so far as we first want to merge https://github.com/tus/tusd/pull/516 which is a major overhaul of the entire hook system. Making any changes before this is complete

[2022-03-02 15:44] Acconut opened #673 "s3store: Look into new checksum support from AWS S3"
https://aws.amazon.com/blogs/aws/new-additional-checksum-algorithms-for-amazon-s3/

[2022-03-03 09:29] meidlinga commented on #669
Linking for future ref: #95

[2022-03-10 03:49] nguyenductai opened #679 "Tusd behind Haproxy: Upload in Chrome fails with CORS while Firefox works fine."
Describe the bug

We build a tus server behind haproxy [that listen https on :443 port] and forward to the tus server
In Firefox 96,97 we can use tus-js-client to upload to tus server normally
The first request (https) to tus-server, it send back the location with http location
Firefox add "s" to http to request to tus-server again for chunk upload: https://.../uuid (https://xxx/api/tus/454a92559b

[2022-03-16 22:07] Akkarine commented on #488
It would be useful for cases, when you serve uploaded files not through tusd, but with S3 with CDN.

[2022-03-17 13:51] kishaningithub opened #683 "Installation using package managers"
To reduce the "getting started" barrier which begins with the installation itself..

As part of the release i propose publishing it to homebrew and other package managers (apt, snap, choco etc)

[2022-03-17 15:47] Acconut commented on #488
I can see how this would be useful but we still do not have any plans to implement this on our own. We are open to PRs but this is not priority. If you want a per-upload prefix for the objects on GCS/S3, you can rename/move the object on the cloud storage once the upload is completed.

[2022-03-17 15:51] Acconut commented on #574
We are always interested in PRs :) However, it would make sense to first discussion the actual feature proposal and its implementation in a separate issue.

[2022-03-17 16:09] Acconut commented on #679
It sounds like you do not have configured your proxy and tusd correctly for usage behind a proxy. This is not a bug. Please read and follow https://github.com/tus/tusd/blob/master/docs/faq.md#can-i-run-tusd-behind-a-reverse-proxy.

[2022-03-17 16:29] #661 closed

[2022-03-20 15:30] oahmadseecs opened #686 "tusd and Azurite"
**Question**
I am having trouble connecting my tusd server with Azurite. When I upload a file through Uppy, the logs are visible on tusd server, about write chunk started and upload finished, and file can be seen in the data directory. However no requests can be seen on the azurite server, and azure storage explorer also shows nothing. I am sure, I am missing something when starting tusd and confi

[2022-03-21 10:30] Acconut commented on #686
You are missing a configuration flag. Setting `-azure-endpoint` is not enough, as it will not enable the azurestore. For that you need to set `-azure-storage` and configure the environment variables:

      Use Azure BlockBlob Storage with this container name as a storage backend (requires the AZURE_STORAGE_ACCOUNT and AZURE_STORAGE_KEY environment variable to be set)
  -base-path string

[2022-03-21 10:42] Acconut opened #693 "Reduce internal server errors"
tusd currently returns some `500 Internal Server Error` responses which are not necessary or should be other status codes:

- [ ] `[tusd] 2022/03/21 08:20:48 event="ResponseOutgoing" status="500" method="PATCH" path="" body="ERR_INTERNAL_SERVER_ERROR: unexpected EOF`
This occurs when the request body ends unexpectedly. This is no big deal, tusd will just store the received data. This should not be

[2022-03-21 11:18] oahmadseecs commented on #686
Hi, thanks for the reply that helped, however facing a new error now. Could you please clarify what goes in -the azure-storage flag, can it be any string, or do I have to give it the "Azure BlockBob Storage" value?
The error:
`
❯ ./tusd -azure-storage="Azure BlockBlob Storage" -azure-endpoint=127.0.0.1:1000
[tusd] 2022/03/21 16:15:27.916329 Using Azure endpoint 127.0.0.1:1000
panic: runtime error:

[2022-03-21 11:21] Acconut commented on #686
No, the value of `-azure-storage` must be the name of the container that the uploads should be stored in.

[2022-03-21 11:34] oahmadseecs commented on #686
So there wasn't a container on Azurite, I created one called files.
Environment variables:
[code]
Proof that container exists...
![image](https://user-images.githubusercontent.com/46478321/159253101-0bd8c324-5f9f-495d-96b6-6a67f09dbc0b.png)

The error I am getting:
[code]

[2022-03-21 12:10] Acconut commented on #686
The Azure endpoint needs to be a full URL, i.e. -azure-endpoint=http://127.0.0.1:1000

[2022-03-21 17:03] oahmadseecs commented on #686
Thanks, that worked.

[2022-03-21 17:03] #686 closed

[2022-03-26 09:24] oliverpool commented on #492
(I wanted to ask about the status, but then I saw that there is already a pull-request with a checklist: #672)

[2022-03-28 21:43] #223 closed

[2022-03-28 21:46] Acconut commented on #683
Yes, we would love to offer tusd using package manager but have no experience with including tusd there. Do you have some knowledge and would be able to help us?

[2022-03-31 08:34] Acconut opened #696 "Improve profiling support"
tusd should have a configuration option to enable multiple profiling modes, especially
- https://github.com/felixge/fgprof
- `debug/pprof`

Maybe these should also be protected by authentication.

[2022-04-01 23:11] nh2 opened #697 "Avoid using O_APPEND mode to write files for simpler safe scaling"
In https://tus.io/faq.html#how-do-i-scale-tus there is the annoying requirement:

This seems to be the result of using `O_APPEND` here: https://github.com/tus/tusd/blob/27957bd22b9bf6b86a86aec3cc054558a8cb6518/pkg/filestore/filestore.go#L158

But why is that?

Given that the TUS protocol communicates file offsets exactly in writes, couldn't `tusd` just `seek()` to the correct offset and perform th

[2022-04-03 15:52] nh2 opened #698 "Write errors are ignored (chance for silent data loss)"
`tusd` is using the `defer file.Close()` pattern that can result in silent data loss of writes since it discards the return error of `Close()`:

https://github.com/tus/tusd/blob/3feef174fd14d71c121c8c263c33eb08312a9296/pkg/filestore/filestore.go#L158-L162

This means `tusd` will acknowledge a successful write to the TUS client, even if there is no certainy whether the write was successful.

This c

[2022-04-03 19:41] nh2 commented on #683
I have packaged `tusd` for [nixpkgs](https://github.com/NixOS/nixpkgs), which will make it easy to get a built binary on NixOS, any Linux distribution, and OSX.

After my [PR](https://github.com/NixOS/nixpkgs/pull/167076) is merged, [install the `nix` package manager](https://nixos.org/download.html) and run:

[code]

Before the PR is merged, you can try it out by pinning the nixpkgs version:

[co

[2022-04-03 22:38] Acconut commented on #698
Good point. Would you be willing to open a PR for this?

[2022-04-03 22:45] nh2 commented on #698
I'm not actually a Go expert, I just review code before use. I think it would probably be more effiecient for somebody who's proficient in Go to do it.

[2022-04-04 14:29] nh2 commented on #683
@kvz I read on the blog that Transloadit is using Nix as well -- would you join me as co-maintainer on the above nixpkgs PR for `tusd`?

[2022-04-04 14:39] kvz commented on #683
We could probably ask @Ma27 to provide assistance with grooming your Nix tusd PR. As for the other distros, https://github.com/jordansissel/fpm used to be a good way to build rpms and debs, but this was from hearsay and a long time ago, I do not have hands-on experience, things may have changed.

Since tusd is just a single binary, i can't imagine it would be very hard, but knowing people who have

[2022-04-04 14:45] nh2 commented on #683
@kvz To clarify, it's less that I'm looking for technical help with that PR (reviews are of course always appreciated), but that I don't want to be the only person listed as maintainer, e.g. to do future version updates.

I packaged `tusd` because I want to try it out for my use case and want it to be available, but I think it's healthy to have more than 1 maintainer in such situations, as it isn'

[2022-04-04 20:59] nh2 commented on #697
A relevant part of the 1.0.0 spec is this wording

This wording is, in my opinion, a bit unfortunate, because it to some extent implies that idempotent concurrent updates to different offsets _cannot exist_.

It would be nice if a the v2 version of the spec could have a wording that more easily permits idempotent updates.

[2022-04-06 16:42] gryphon opened #702 "Post-finish hook starts before pre-finish hook finishes"
**Describe the bug**
As per documentation Pre-finish file hook could be blocking so TUS will wait until it finishes.
But as we see from TUSD log it usually operated by the following order:
- pre-finish started
- post-finish started
- pre-finish finished
- post-finish finished
(last 2 lines may be in random order)

**To Reproduce**
It can be reproduced at every upload with pre- and post- finish hoo

[2022-04-07 07:59] Acconut commented on #702
We need more details from you, please. What hooks are you using? filehooks? What are the logs that tusd is producing?

[2022-04-09 10:08] Acconut commented on #356
@mrosales Apologies for my late reply. This thread slipped through my radar

That is a very good point! Allowing users to control the log level is definitely something that I would want to address in the near future.

Interesting approach, but this sounds like a bit of an overkill. I like to treat logging as a simple and efficient way to understand how the system behaves. Adding multiple log event

[2022-04-09 10:12] Acconut commented on #659
To be honest, I am not very much sold on this idea. I like that tusd has only one way to be configured and not multiple approaches, i.e. command line, config file and environment variables. This adds complexity to the user and can cause confusion when an environment variables is overwritten by a command line arguments. Since you already found a solution to your situation, I don't think it is likel

[2022-04-09 10:12] #659 closed

[2022-04-12 10:59] mmohaveri commented on #356
I agree

In that case we need to make the `event name` part of the API, by which I mean we have to promise not to change the name of existing events without announcing a breaking change.

[2022-04-12 14:26] ChrisSchinnerl opened #707 "Broken compatibility for PATCH request to file that can't be found"
**Describe the bug**
We recently upgraded our dependency from tusd v1.6.0 to v1.9.0 and it seems like the status code returned by a `PATCH` for a file that doesn't exist now returns a 500 instead of a 404 even though we are returning a `os.ErrNotExist` in our implementation of the data store interface. That's a bit unexpected for a non-breaking version upgrade.

To mitigate this we changed the cod

[2022-04-17 20:13] edihasaj commented on #441
In asp net 6 I fixed this with:

[code]

*Use this only for development*

[2022-04-25 16:56] bezi commented on #419
We don't have an atomic repro of this, but we do see this issue in prod using GCS as our backing store.  #360 does seem to resolve it for us.

[2022-04-28 03:36] stefan-scheidewig opened #713 "Passing also context.Context to PreUpload and PreFinish callbacks"
**Is your feature request related to a problem? Please describe.**
We are using `v2` as a library integrated into a `go-chi` application. Within that application every handler is mounted after an authentication handler, which authenticates the request and enriches the context with necessary information. We are using the [`PreFinishResponseCallback`](https://github.com/tus/tusd/blob/v2/pkg/handler/

[2022-04-28 07:43] aksdb commented on #713
Adding to that: having the hooks be called with the `context.Context` of the incoming request (or a child of it) makes sense, since the hooks might make outgoing calls themselves that should be cancelled if the incoming request is cancelled and/or that should have access to enriched information like the opentracing span.

[2022-05-03 08:11] Acconut commented on #713
Good idea, it makes sense to expose contexts to these callbacks. Feel free to open a PR to add this to the v2 branch.

[2022-05-03 08:23] Acconut commented on #707
Yes. this is the correct approach. We consider the previous interpretation of `os.ErrNotExist` as `handler.ErrNotFound` a bug and therefore removed it. The problem is that not every `os.ErrNotExist` error should be interpreted as an upload that is not found. Image that your data storage is trying to access a temporary file for saving the uploaded data. If that file somehow gets removed during that

[2022-05-04 17:19] #419 closed

[2022-05-11 08:34] gryphon commented on #702
Just tried it and got the results for the first uploaded file:

[code]

As you can see, pre-finish here is finished after post-finish is started

[2022-05-16 13:41] Pythonov opened #730 "Uploading files to s3 with versioning enabled"
**Describe the bug**
1. When i upload file to minio bucket with versioning enabled, tus spawns a lot of versions and doesn't delete it
2 files 4.5 MB is actually 1.1 GB

Here are screens
![image](https://user-images.githubusercontent.com/61191665/168605710-e4046b56-4781-489b-bb23-3f1d241fbd79.png)

![image](https://user-images.githubusercontent.com/61191665/168606800-8501b2d1-eada-41f8-8812-90deda

[2022-05-19 07:59] MrVibe commented on #452
facing same issue in apache and nginx on local. Could we be missing something ?

[2022-05-20 10:40] NGTOne commented on #277
I don't know who this will help, but I found that this worked for me using `nginx-ingress-controller`:
[code]

[2022-05-20 21:34] Qoraiche commented on #452
have you tried this?

[2022-05-23 07:43] Acconut commented on #452
@MrVibe If the hint form @Qoraiche does not help, please provide more details on the error and the setup you have.

[2022-05-23 12:42] Acconut commented on #702
Ah, that makes sense and is a bug in tusd. As you can see from the code, the post-finish hook (through the CompleteUploads channel in the code below) is invoked before the `pre-finish` callback is invoked:

https://github.com/tus/tusd/blob/457ca870ea339ef009fb6ea29502cf08db32025b/pkg/handler/unrouted_handler.go#L703-L714

This looks like a bug to me and the order should be switched around. Are you

[2022-05-23 13:18] Acconut commented on #730
Thank you for the report, but I am not sure if this is a bug in tusd. I have never used versioning in S3, so I am not sure how it works. However, tusd does not contain any kind of logic for creating or deleting old versions. It just uses S3's methods for uploading data.

You might want to check with the Minio team to see if it is normal to have 1.1 GB in versions or if there are any options to cle

[2022-05-26 16:51] nh2 commented on #697
My issue is only about the `filestore.go` implementation, not other backends, and not about the spec (I thought for a moment in https://github.com/tus/tusd/issues/697#issuecomment-1088007440 that the spec might have a wording that makes my suggestion difficult, but then found that it most likely doesn't).

What I am saying is that I think that tusd _could_ implement `filestore` specifically withou

[2022-05-26 18:14] Acconut commented on #697
Assume the following situation without any locking: The server gets a request A to write at offset 0. Once A has written 100 bytes (and is still continuing to write), a new request B comes in to write at offset 100. Since the file's current offset is at 100, the server will accept request B. Now you have two request A and B writing at the same file offset, which is a potential cause for data loss

[2022-05-26 18:18] Acconut commented on #697
Also another comment: I do not see a problem with replacing O_APPEND with a call to write & seek on its own, as long as tusd uses a locking mechanism by default. If you want to and feel safe to, you can configure tusd to not use locking. That is totally doable programmatically at the moment.

[2022-05-28 16:14] nh2 commented on #697
Thanks for your detailed replies!

I can give some background on this.

POSIX 1003.1-2001 specifies in [ 2.9.7 Thread Interactions with Regular File Operations](https://pubs.opengroup.org/onlinepubs/9699919799/functions/V2_chap02.html#tag_15_09_07):

There are a few considerations regarding this:

* **Thread-safety:** POSIX requires that concurrent `write()`s by different threads or processes to t

[2022-05-31 07:21] Not-Wadu opened #738 "Docker compose"
How the docker config in docker-compse.yml should look like?
And I can use these direct as a file server or I have to have something else besides these?

I have tried something like these, but something is wrong .

  tus-file-server:
    container_name: tus-upload-server
    image: tusproject/tusd
    ports:
      - "5040:5040"
    volumes:
      - "./tusd_data:tusd"

[2022-05-31 08:09] Acconut commented on #738
I have never used Docker Compose, so I cannot help you much with its configuration. But what exactly do you mean by "something is worng"?

[2022-05-31 08:32] Not-Wadu commented on #738
the volume is not accepted

Error response from daemon: invalid volume specification: '/Users/mihaimatei/Work/test-staging-backend/tusd_data:tusd:rw': invalid mount config for type "bind": invalid mount path: 'tusd' mount path must be absolute

[2022-05-31 08:33] Not-Wadu commented on #738
so is no documentation regarding how it suppose to be configured in Docker Compose.

[2022-05-31 08:42] Acconut commented on #738
In https://github.com/tus/tusd/issues/408 someone has posted their configuration. Maybe that helps. But it seems as the cause of your error is stated in the error message:

Maybe try

[2022-06-03 09:42] #738 closed

[2022-06-06 12:58] Not-Wadu commented on #738
there is a way to get the data type stored on the server without getting all the data ?
I tried with HEAD but I get these :
headers:
  cache-control: "no-store"
  content-length: "21675"
  tus-resumable: "1.0.0"

  upload-length: "21675"
  upload-metadata: "filename aW1nMi5qcGVn,filetype aW1hZ2UvanBlZw=="
  upload-offset: "21675"

[2022-06-06 17:34] Acconut commented on #738
Yes, if you set the `filetype` metadata in your tus client during the upload creation.

No, that is not possible currently.

[2022-06-14 07:35] gryphon commented on #702
Not sure if I can correctly fix this code by myself but I may help with testing :)

[2022-06-17 11:08] #702 closed

[2022-06-17 11:08] Acconut commented on #702
Should be fixed in master. Feel free to try the latest master branch :)

[2022-06-17 12:31] Acconut commented on #697
Thank you very much for this detailed write up about the properties of `write`! It provided a lot of insight that was not clear to me before.

Probably, yes. I know that some people use tusd with NFS and that might also be problematic then.

Might be a bit harder to implement, as we write an `io.Reader` to the file and not byte slices. Otherwise, it would be a good alternative.

Sure, let us know

[2022-06-20 18:27] KatamariJr opened #752 "s3store: Support AWS Go SDK v2"
**Is your feature request related to a problem? Please describe.**
Currently the S3 interface accepted by s3store.New() matches the AWS Go SDK v1 S3 interface. The interface has changed in the newer AWS Go SDK v2.

**Describe the solution you'd like**
An s3v2store type that accepts a Go SDK v2 s3 client.

[2022-06-20 20:46] Acconut commented on #752
Would there be a significant benefit from using the AWS SDK v2 over the current v1?

[2022-06-23 12:11] agelosnm opened #753 "Traefik HTTP redirection"
I have installed tus via helm in a bare metal kuberntes cluster and I have created an ingress route TLS terminated and I can access it via HTTPS. Although, I've tested the upload process and when a client uploads a file in the Pod logs the request is being sent as HTTP.

`[tusd] 2022/06/23 11:52:59 event="UploadCreated" id="2d9f1162d084d41842af83a7778da198" size="10051" url="http://tus-eia.scio.se

[2022-06-23 12:59] agelosnm commented on #753
Same behaviour occurs also using ingress-nginx controller (not the embeded one in the values.yml)

[2022-06-27 12:38] Acconut commented on #753
Did you setup your proxy and tusd according to https://github.com/tus/tusd/blob/master/docs/faq.md#can-i-run-tusd-behind-a-reverse-proxy?

[2022-06-27 12:40] Acconut commented on #752
Ok, great to hear that v2 and v1 can be used simultaneously. In this case, still using v1 is not an urgent problem. Thanks for bringing this up.

[2022-06-28 07:40] agelosnm commented on #753
@Acconut To my understanding according to the above guide the first thing that needs to be done is to pass `-behind-proxy` flag in the values.yml. Is that correct?

[2022-06-28 09:23] Acconut commented on #753
Setting -behind-proxy is necessary, but not enough. Just must also configure the proxy to set the X-Forwarded-* headers, as mentioned in the guide.

[2022-06-28 09:24] agelosnm commented on #753
Cool! how this flag can be passed in the values.yml file?

[2022-06-28 09:29] Acconut commented on #753
I don´t know, unfortunately. I am not a Kubernetes user. You will have to try it out on your own.

[2022-06-29 14:48] bit4n6 opened #759 "Use of Azure Shared Access Signatures (SAS)"
**Question**
Is there a way to use tusd with Azure Blob Storage and Shared Access Signatures (SAS)?

**Setup details**
Please provide following details, if applicable to your situation:
- Operating System: Linux
- Used tusd version: v1.9.0
- Used tusd data storage: Azure Blob Storage
- Used tusd configuration: That's exactly what I want to find out... :-)
- Used tus client library: tus-js-client

[2022-06-30 20:39] CompuRoot opened #760 "/metrics endpoint always exposed regardless -expose-metrics=f"
**`/metrics` endpoint always exposed regardless `-expose-metrics=f`**

Even adding custom metrics path via `-metrics-path` still expose `/metrics` URL

**Expected behavior**
flag `-expose-metrics=false` should disable metrics endpoint completely

**Setup details**

- Operating System:  Linux
- Used tusd version:
   - Version = v1.9.0
   - GitCommit = 3a3916af460ee41c6bbdd4d059a9dcf51a323d9a
   - B

[2022-07-01 21:26] Acconut commented on #760
I cannot reproduce this. If I run `tusd -expose-metrics=false`, then `http://localhost:1080/metrics` returns the greeting and not the metrics endpoint as expected. The presence of the `-metrics-path` does not change this behavior. If I run `tusd -expose-metrics=false -show-greeting=false` then a 404 is returned. Everything as expected for me.

[2022-07-01 21:27] Acconut commented on #759
I don't know what Shared Access Signatures are and cannot help you here. Maybe @omBratteng could help you out.

[2022-07-01 21:29] omBratteng commented on #759
@bit4n6 as of right now, it is not supported.
However, in one of the latest versions of the ABS go library, they've added support for SAS connection strings.
Now that I'm on vacation, I have a lot more free time, so I can finally get around to updating the dependency.

[2022-07-01 22:50] CompuRoot commented on #760
Set `-metrics-path` to some secret path, then try to visit `/metrics` it will reveal  secret metrics path.

That's why my suggestion to activate automatically `-show-greeting=f` in case of `-expose-metrics=f` is set.

Thank for looking into it !

[2022-07-02 07:06] Acconut commented on #760
I cannot reproduce this. I run `tusd -expose-metrics=false -metrics-path=/foo`, but http://localhost:1080/metrics only returns the greeting. No metrics are shown. What do you mean exactly with "it will reveal secret metrics path"?

[2022-07-02 07:32] CompuRoot commented on #760
## To reproduce, script to start `tusd`
[code]

Where 1.2.3.4 real public IP address.

Even `-expose-metrics=f` is set to `false`, `/merics` is still exposed and returns:

[code]
As you can see, both upload endpoint `/blobs/` and "secret" metrics endpoint is exposed to anyone who knows that `/metrics` won't be disabled even option ` -expose-metrics=f ` explicitly requested

[2022-07-04 06:50] Acconut commented on #760
Ok, now I see what you mean with exposing the metrics endpoint. You are referring to it being displayed in the greeting. That wasn't clear to me until now.

However, I am still struggling to see what the underlying issue is here. If `-expose-metrics=false`, then there will be no metrics endpoint mounted. I.e. no metrics are available under the `/metrics` endpoint (or whatever you set `-metrics-end

[2022-07-04 13:07] CompuRoot commented on #760
Im sorry that I wasn't clear enough with description!

I think if options set to **not expose** metrics should mean exactly this - do **not expose**, but endpoint `/metrics` is still exposed with greetings (which isn't related to metrics at all) and disclose "hidden/custom"  `-metrics-endpoint`  path that was used previously or will be used in a future again.

The issue is that `/metrics` exposed

[2022-07-05 17:44] streamly opened #764 "tusd run as service / background / bootup"
How is tusd on linux normally run so that it stays going after the shell login is closed and is started on bootup?

I am not too familiar with basic linux devops but I did try creating a tusd.service file and try running tusd in the background and both failed. There does not seem to be a flag to run tusd in the background. The service file seem to listen but uploads failed on the frontend / uppy.

[2022-07-06 22:34] jdcalvin commented on #702
@Acconut Confirmed this change fixes the behavior of the `pre-finish` hook. `post-finish` will now only invoke after `pre-finish` is completed. Any timeline for when this will be released in a new version?

[2022-07-08 17:13] RobertVillalba commented on #456
I believe I'm also seeing this same error. I'm using tus-js-client and writing to minio with s3 store. The client code simply has parallelUploads set to 2 and I've tried to remove as much as possible from the server side. My upload works for a small 10 MB video file and I see that there are 3 info files and 3 regular files with two being 5 MB and the last one 10 MB as expected. However when I try

[2022-07-10 06:00] alameenlr opened #765 "Docker Container Over CPU Usage?"
**Question**
When I Started TUS Server Total CPU usage 4%, after 4,5 Uploads CPU Usage 7%, after many uploads 80%!! Why?
I'm using Same `Dockerfile` file  from Your Source.

**Setup details**
Please provide following details, if applicable to your situation:
- Operating System: `Alpine 3.13 Linux`
- Used tusd version: `Latest`
- Used tusd data storage: `AWS S3`
- Used tusd configuration: ` CMD ["-

[2022-07-10 20:45] Acconut commented on #456
@RobertVillalba Can you test more file sizes and see if files smaller than 10MB work and files bigger than 10MB fail? tusd has two different method for concatenating uploads, depending on whether all partial uploads are bigger than 5MB.

[2022-07-10 21:02] Acconut commented on #764
tusd does not have any option to run in the background. You have to resort to tools such as systemd to achieve this. Creating a tusd.service file is the correct first step.

Can you be more specific? How to know that the tusd server is listening? What is the error that Uppy provides?

[2022-07-11 12:34] RobertVillalba commented on #456
I believe that you are correct. I created some zip files and was able to upload things smaller than 10MB (tested up to 9.6MB) but 10.6MB broke the upload concatenation. I also tried specifying a chunk size of 1MB as well for a final test to see if the behavior would change, but it did not.

[2022-07-11 15:42] streamly commented on #764
tusd on ubuntu 20.04 will not use the region var in .aws/credentials and I am not sure how it can be set in tusd.service file.

"tus: unexpected response while creating upload, originated from request (method: POST, url: http://myhosthere/files/, response code: 500, response text: s3store: unable to create multipart upload:MissingRegion: could not find region configuration, request id: n/a)"

It w

[2022-07-11 15:47] RobertVillalba commented on #456
I think I may have found the error. The CopySource does not take into account the store object prefix. After adding this in it seems that the uploads complete as expected (tested up to a 1 GB upload).

[2022-07-16 12:52] #456 closed

[2022-07-16 13:18] Acconut commented on #764
You must set the region using the environment variable `AWS_REGION`. See https://serverfault.com/questions/413397/how-to-set-environment-variable-in-systemd-service or other online resources for how to define environment variables in a systemd service file.

[2022-07-24 09:48] bit4n6 commented on #759
Any updates on this?

[2022-07-24 18:58] mosi-kha commented on #698
HI
any updates?

[2022-07-25 07:40] Acconut commented on #698
Not yet. But if you are interested in helping, feel free to open a PR.

[2022-07-25 09:06] mosi-kha commented on #273
Hi
i use s3 as backend and got randomly error on `SignatureDoesNotMatch` but in the error do not mention s3store
these are the last 10 tusd's log:
`[tusd] 2022/07/25 13:06:02 event="ChunkWriteComplete" id="e4cf9cf969f3d6563d0596747bb6f2a7+2~WSdh726Nr02zF1QhEgGpzWf6B9Lq1QR" bytesWritten="500000"
[tusd] 2022/07/25 13:06:02 event="ResponseOutgoing" status="204" method="PATCH" path="e4cf9cf969f3d6563d

[2022-07-25 10:07] Acconut commented on #273
@mosi-kha This issue has been closed for three years. Please open a new issue and include all relevant details as asked in the issue template.

[2022-07-25 10:32] mosi-kha opened #776 "randomly SignatureDoesNotMatch error on upload large file (>50MB)"
**Describe the bug**
on upload file (>50MB) raise the error  `SignatureDoesNotMatch` but do not mention `s3store` on detail
these are the last 10 tusd's log:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Export AWS access keys
2. Run server: `tusd --hooks-http http://127.0.0.1:8000/upload/tusd -s3-bucket=tusd -s3-endpoint=https://s3.ir-thr-at1.arvanstorage.com `
3. Snippet for uploa

[2022-07-25 10:34] mosi-kha commented on #273
#776

[2022-07-25 10:46] Acconut commented on #776
It seems you are not actually using AWS S3 but an S3-compatible storage. Is that correct? It is also possible that this is a bug in their S3 implementation as we have never seen this error for our usage of tusd with AWS S3.

The logs also look odd to me. It's quite possible that there is already something problematic going on before this error.

This says that no bytes were written to S3?

Does th

[2022-07-25 10:56] Acconut commented on #702
@jdcalvin Great, this patch is released in https://github.com/tus/tusd/releases/tag/v1.9.1

[2022-07-25 10:56] Acconut commented on #456
@RobertVillalba Your patch will be in this release: https://github.com/tus/tusd/releases/tag/v1.9.1

[2022-07-25 11:01] mosi-kha commented on #776
Yes, we use ArvanCloud object storage that s3 compatible, we use it in our production a lot. we want use tusd as new upload mechanism so in my tests this error raised.

I didn't test with this endpoint. I'll try with it right now.

[2022-07-25 11:28] mosi-kha commented on #776
uploaded successfully on `https://tusd.tusdemo.net/files/`.

[2022-07-25 11:31] mosi-kha commented on #776
In my error case, If I upload the same file again, it will continue to upload the errored place and finish it.

[2022-07-27 12:33] mosi-kha opened #777 "Metadata header not signed error"
**Describe the bug**
when i don't pass metadata everything is okay, but when I pass Metadata to `tuspy` and request to `tusd` it's can't create multipart upload becase:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Export AWS configs
2.  Run tusd server: `tusd --hooks-http http://127.0.0.1:43211/upload/tusd -s3-bucket=tusd -s3-endpoint=https://s3.staging.ir`
3. Upload snippet code:

[2022-07-27 23:02] Acconut commented on #777
Does the upload work if you configure tuspy to use the https://tusd.tusdemo.net/files/ endpoint? If yes, it might indicate a problem with your S3-compatible storage.

[2022-07-28 10:13] Acconut commented on #776
Ok, this indicates that there is no issue with your client configuration. However, this indicates that there is probably a difference in behaviour between AWS SE and ArvanCloud.

Ok, so this means that you are able to complete the upload successfully if you resume?

Can you provide more logs if an upload fails? In the best case all logs since the beginning of the upload.

Also, please try increasi

[2022-07-31 11:51] mosi-kha commented on #777
@Acconut sorry for the wrong data in the setup details, tusd data storage is minio version:2021-02-19T04:38:02Z.
yes, it's uploaded on https://tusd.tusdemo.net/files/ and I figured out what is the root problem it's for using `_` in a metadata's key, in my example when I remove `_` in `space_id` has been okay.
now I don't know if it's an issue about Unicodeing metadata in tusd or minio issue.
I tes

[2022-07-31 12:45] mosi-kha commented on #776
yes, I can.

[code]

it's okey.

[2022-07-31 19:46] mosi-kha commented on #777
can happen from aws-sdk-go? because there was the same issue on another sdk ([aws-sdk-net](https://github.com/aws/aws-sdk-net/issues/1258))

[2022-08-01 10:26] Acconut commented on #777
Ok, so to summarize:

- You can upload to https://tusd.tusdemo.net/files/ (which uses AWS S3)
- You cannot upload when tusd uses Minio or ArvanCloud
- The error only occurs when an underscore is present in the metadata key

For now, this looks to me to be a bug in the Minio storage. I wasn't able to find a concrete issue for the aws-sdk-go, but this issue describes the reason why underscores are p

[2022-08-01 10:35] Acconut commented on #776
Does that help with the uploading issues of SignatureDoesNotMatch?

I have also found a report about this error in conjunction with network issues: https://github.com/aws/aws-sdk-go/issues/3237 Could it be that you have connectivity issues and these manifest as signature errors?

[2022-08-02 06:33] mosi-kha commented on #776
yes, it's not happened with bigger chunk sizes.

Hmm, that makes sense, we have network connection issues a lot, do you have any suggestion or solution for it?

[2022-08-02 07:00] mosi-kha commented on #777
sorry, I don't have AWS S3 account and I can't create it because of my religion.

can you reproduce this scenario and see the metadata header that tusd send to an S3 server?

[2022-08-04 09:41] #760 closed

[2022-08-04 09:41] Acconut commented on #760
I just added a patch, which removes the metrics information from the greeting, if `-expose-metrics=false`. Hope this resolves your question.

[2022-08-04 15:11] quality-leftovers opened #780 "Blocking hook to customize upload metadata / id"
Hello,

we are considering using tusd as storage frontend and did some thinking about what we're currently missing feature wise.

What we came up with was that we'd like to have the ability to set
- upload ID
- and Metadata

using a blocking hook.

While this could be done using a custom storage implementation or an HTTP proxy/middleware we really like how the hooks in the cli application allow fo

[2022-08-07 07:30] G2G2G2G commented on #753
After doing these be sure to clear your browser's local storage otherwise it's gonna keep going to a bad endpoint if it changed at all

[2022-08-07 07:43] G2G2G2G opened #781 "tusd example with behind proxy"
Currently the example https://github.com/tus/tusd/tree/master/examples/server seems to lack virtually every option the binary does, and not much info about how the binary works and no methods to build certain parts of it in the example.

Nearly 1/4th the issues posted here are proxy related, and I keep triggering this issue https://github.com/transloadit/uppy/issues/2285#issuecomment-632920770
and

[2022-08-10 10:40] quality-leftovers commented on #780
Oh I've browsed the branches and it seem feat/new-hooks actually implements the ability to override request headers. I'll have a look at v2 branch and possibly close this issue :)

[2022-08-10 10:45] Acconut commented on #780
You are correct. In v2 of tusd we will ship an overhauled and more powerful hook system. It is already able to modify response headers and in the future we want to add the feature to modify the upload ID. Would that already satisfy your needs?

[2022-08-10 19:39] sdhull opened #786 "Bump crypto version"
**Describe the bug**
I don't _think_ that tusd uses `crypto/ssh` (and is therefore not really subject to this CVE) however from a static analysis standpoint it'd be nice if we could pull in a version of this library that isn't flagged as vulnerable.

I'm not super familiar with golang, so not sure how hard this is to do, as this is a dependency of a dependency.

**To Reproduce**
See https://securi

[2022-08-11 16:19] trickkiste opened #787 "What happens, if ID (filename) already exists (filestore, S3store)"
**Question**
How does TUS assure, that a new upload does not accidentally overwrite an existing file, which for pure "luck" does get the same random UID? I know, the chances are slim (1/10^38) but still.

How can one check for this?
Since the UID is not yet created, when the pre-create hook is run, this blocking hook can not be used to do a file-exists check.
And post-create hook is too late, sinc

[2022-08-11 19:25] Acconut commented on #787
tusd does not check whether an upload ID is already taken. We rely on the low probability of a collision when generating these random IDs. In addition, most applications delete or move the upload resources after days or weeks anyway, so a collision is even less likely if upload resources do not stick around forever.

In addition, checking IDs has overhead. Yes, the latency for file access on SSDs

[2022-08-17 08:04] ShunNaito opened #793 "Is it possible to add timestamp with microseconds to tusd log?"
**Question**
Is it possible to add timestamp with microseconds to tusd log?

I want change following line, like this.
https://github.com/tus/tusd/blob/69c567b4faa6ecb3518d123bd0725ef610e0231b/pkg/handler/config.go#L62
↓
[code]

**Setup details**
Please provide following details, if applicable to your situation:
- Operating System: Linux
- Used tusd version: v1.9.1
- Used tusd data storage: AWS S3

[2022-08-17 08:08] ShunNaito commented on #793
Can I send you a pull request?

[2022-08-17 14:17] quality-leftovers commented on #780
I've started playing around with the hooks a bit and it looks very good so far => /close.

Thanks :)

[2022-08-17 14:17] #780 closed

[2022-08-23 21:24] acj opened #798 "S3Store: Deferred length is partly broken in v1.9.1"
**Describe the bug**

When using the S3 backend, declaring the length of an upload after tusd has received all the bytes results in an empty object in S3.

**To Reproduce**
Steps to reproduce the behavior:
1. Run tusd v1.9.1
2. Start an upload for small file without declaring its length
3. Upload the entire file
4. Declare the length
5. Download the file from S3

**Expected behavior**

The object

[2022-08-24 14:41] renepardon opened #799 "[FEATURE REQUEST] Docker Secrets to read sensitive information from"
**Is your feature request related to a problem? Please describe.**
I would like to use Docker Secrets to store my MINIO/AWS credentials. Therefore I created a Docker Secret at **/run/secrets/aws-access-key** and **/run/secrets/aws-key-id**
But there are no environment variables available as for other Docker images to load those secretes from corresponding file. E.g. https://hub.docker.com/r/bitnam

[2022-08-28 11:02] Acconut commented on #798
Thanks for the report! Did this work properly in prior versions? I thought that we paid enough attention to uploads with deferred lengths in #746, but maybe we weren't careful enough. So the problem is we have a `.part` object in S3. Normally this object would get turned into a part for the S3 mulitpart upload by `WriteChunk`, but we skip this call. An `FinishUpload` does not check if a `.part` ob

[2022-08-29 13:57] acj commented on #798
It did. Our workaround was to revert to 1.9.0.

Yes, that's my understanding of the bug.

[2022-09-09 16:22] Acconut commented on #798
Thank you for the help. For now, I have reverted the PR, so v1.9.2 should work again. Maybe in the future we should check for `.part` files in the `FinishUpload` method.

[2022-09-09 16:23] #798 closed

[2022-09-09 16:30] Acconut commented on #799
Interesting approach. I have never heard of this before.

Do you know how this is implemented? Is this a feature in the Redis binary or a feature of the used Docker image (i.e. the corresponding file is read before starting Redis)?

[2022-09-09 16:34] Acconut commented on #793
Closing because it is implemented in #794.

[2022-09-09 16:34] #793 closed

[2022-09-09 16:49] Acconut commented on #786
To be honest, I am not an expert with Go dependencies. I tried to follow the steps in https://medium.com/@majdasab/how-to-upgrade-an-indirect-dependency-in-golang-988751f92a6e to require a version of `crypto` that fixes this issue, but the Go tool chain always overwrites my changes. So maybe we already use a new enough version. But I personally do not know how to tackle this.

[2022-09-09 16:53] Acconut commented on #356
That should be doable, I think. The event names of logs usually do not change often. I don't think we have ever changed one of them in tusd.

So, if someone is still interested in this, we can always collaborate on a PR.

[2022-09-09 17:11] renepardon commented on #799
@Acconut i saw this already in multiple images like rabbitmq, MariaDB etc.

More details about Docker secrets: https://docs.docker.com/engine/swarm/secrets/

More example images using this approach already:
- https://hub.docker.com/_/rabbitmq
- https://hub.docker.com/_/mongo

And lot more.

It’s part of the init script to read the secret and pass it to the correct destination.

[2022-09-09 19:16] Acconut commented on #799
Ok. Then feel free to open a PR, if you want to. We don't use docker, so I cannot work on this on my own.

[2022-09-09 21:28] Acconut commented on #781
Thank you for this report, but I am a bit confused about what you are exactly doing.

This example is intended as the minimal possible version to get tusd as a package running. Therefore, only the required options are used. I agree that could also benefit from more advanced examples. Was there anything specific that you were looking for?

Do you want to rebuild the functionality from the binary?

[2022-09-09 21:34] Acconut commented on #765
Does the high CPU usage persist long after the uploads have been completed? In production, we also see a high CPU usage from the AWS SDK and have tried many things to reduce it, but didn´t manage anything significant so far. So if you are uploading to S3 a higher CPU usage is currently normal.

[2022-09-10 21:10] G2G2G2G commented on #781
Yes I found that page, and read all of them. I wanted to incorporate tusd into my program while also using whatever the `-behind-proxy` does
There is no example or seemingly any info on what that is doing. I assume it's just a few lines of code reading the actual header.. but not clear on how to do that with that tusd example. That's all I want. The exact example but reads the IP same way that the

[2022-09-11 06:53] alameenlr commented on #765
I `AWS SDK v1` is the problem Could you Try with `github.com/aws/aws-sdk-go-v2/`
https://aws.amazon.com/blogs/developer/aws-sdk-for-go-version-2-general-availability/

[2022-09-12 07:46] tbnguyen1407 opened #809 "Forwarded request header with double quotes returns incorrect Location response header"
**Describe the bug**

A `Forwarded` request header with double quoted `host` value will result in invalid `Location` header with quoted value

**To Reproduce**
Steps to reproduce the behavior:
1. start server with behind proxy config
2. send POST request with `Forwarded` header containing double quoted value
3. observe response with invalid `Location` header

[code]

**Expected behavior**

Quotes

[2022-09-12 09:45] Acconut commented on #809
That seems to be the case, thanks for reporting! We currently extract this information using regular expressions:

https://github.com/tus/tusd/blob/7e6cd89114b43900c6b3d871f1b75b4fd16bed0c/pkg/handler/unrouted_handler.go#L22-L23

As you can see, they do not consider quotes at all. It should be easy to add support for quotes. Would you be willing to open a PR for this?

[2022-09-12 10:40] tbnguyen1407 commented on #809
@Acconut I am not familiar with PR/MR thing. I think you can simply strip the quotes after parsing

https://github.com/tus/tusd/blob/7e6cd89114b43900c6b3d871f1b75b4fd16bed0c/pkg/handler/unrouted_handler.go#L1053

to

[code]

Same should be done for `proto`

[2022-09-12 17:24] sdhull commented on #786
@Acconut thank you so much for looking into this. I've also chatted with golang folks at my company it and it sounds like this is not really possible (and is a widespread issue in the go ecosystem). I'm going to close this for now. Thanks again for looking into it ❤️

[2022-09-12 17:24] #786 closed

[2022-09-13 12:18] renepardon commented on #799
@Acconut done :)

[2022-09-14 06:52] jonaskaltenbachz opened #811 "Enhance metadata in gRPC Hooks"
Hello,

is there a possibility to enhance the metadata object by an additional field in the pre-create gRPC Hook?
Or is there any other possibility to add some metadata automatically?

Many greetings
Jonas

[2022-09-14 22:28] Acconut commented on #811
No, there currently exists no method for modifying the metadata of an upload. Neither using gRPC nor any other hook method. However, I am thinking about allowing this for the pre-create hook in the future.

[2022-09-14 22:37] Acconut commented on #765
How do you come to this conclusion? Is it mentioned that the AWS SDK v2 improved the performance?

The reason I am asking is that we tried out the Minio SDK in comparision to AWS SDK v1 and we did not see any improvements in performance. So we concluded that the AWS SDK v1 on its own is not likely the reason for high resource usages and replacing it would likely not change the situation.

[2022-09-14 22:41] Acconut commented on #781
The `-behind-proxy` flag is directly passed to the `RespectForwardedHeaders` in the config struct. That is all it does. Set this config value and you will have the same behavior as the binary:

https://github.com/tus/tusd/blob/3feef174fd14d71c121c8c263c33eb08312a9296/cmd/tusd/cli/serve.go#L29

Not sure I understand that entirely. The example contains a section for handling events:

https://github.

[2022-09-15 05:00] G2G2G2G commented on #781
Yes the event parts I specifically said I understood

Thanks for the config link

[2022-09-15 05:00] #781 closed

[2022-09-15 13:43] jonaskaltenbachz commented on #811
All right, I understand.
I have created a pull request that enables the described functionality: https://github.com/tus/tusd/pull/814

[2022-09-17 14:21] alameenlr commented on #765
From the link I mentioned above, saying this.

_The AWS SDK for Go v2 requires Go 1.15 or higher, and offers significant performance improvements in CPU and memory utilization over version 1._

[2022-09-19 07:34] #799 closed

[2022-09-19 09:19] Acconut commented on #787
Closing this issue due to inactivity. Feel free to leave a comment if you want to continue the discussion :)

[2022-09-19 09:19] #787 closed

[2022-09-19 09:19] Acconut commented on #764
Closing this issue due to inactivity. Feel free to leave a comment if you want to continue the discussion :)

[2022-09-19 09:20] #707 closed

[2022-09-19 09:20] #679 closed

[2022-09-19 09:21] Acconut commented on #639
Closing this issue due to inactivity. Feel free to leave a comment if you want to continue the discussion :)

[2022-09-19 09:21] #639 closed

[2022-09-19 09:21] #564 closed

[2022-09-19 09:22] Acconut commented on #514
Closing this issue due to inactivity. Feel free to leave a comment if you want to continue the discussion :)

[2022-09-19 09:22] #514 closed

[2022-09-19 09:22] #753 closed

[2022-09-19 09:25] Acconut commented on #548
We did this, and it does not show improved performance. Hence we can close this. The next attempt is to use the AWS Go SDK v2 (see https://github.com/tus/tusd/issues/752).

[2022-09-19 09:25] #548 closed

[2022-09-19 09:26] Acconut commented on #730
Closing this issue due to inactivity. Feel free to leave a comment if you want to continue the discussion :)

[2022-09-19 09:26] #730 closed

[2022-09-19 09:27] #485 closed

[2022-09-19 09:27] #476 closed

[2022-09-19 09:27] Acconut commented on #468
Closing this issue due to inactivity. Feel free to leave a comment if you want to continue the discussion :)

[2022-09-19 09:27] #468 closed

[2022-09-19 09:28] Acconut commented on #463
Closing this issue due to inactivity. Feel free to leave a comment if you want to continue the discussion :)

[2022-09-19 09:28] #463 closed

[2022-09-19 09:28] Acconut commented on #454
Closing this issue due to inactivity. Feel free to leave a comment if you want to continue the discussion :)

[2022-09-19 09:28] #454 closed

[2022-09-19 09:28] Acconut commented on #453
Closing this issue due to inactivity. Feel free to leave a comment if you want to continue the discussion :)

[2022-09-19 09:28] #453 closed

[2022-09-19 09:29] #451 closed

[2022-09-19 09:30] #442 closed

[2022-09-19 09:31] Acconut commented on #501
Closing this issue due to inactivity. Feel free to leave a comment if you want to continue the discussion :)

[2022-09-19 09:31] #501 closed

[2022-09-21 15:51] parthbond180 commented on #96
reopening this after 5 years, any updates on this? Having a connector to either a IPFS network or even Filecoin would be great

[2022-09-21 21:45] Acconut commented on #96
No updates from out side. As we have little to no experience in the world of IPFS, we would rely on outside contributions for this feature :) We are always happy to collaborate!

[2022-09-30 12:54] Acconut commented on #765
Ok, thank you. We will dedicate some time to checkout AWS SDK v2 soon.

[2022-09-30 12:55] Acconut commented on #765
Closing in favor of https://github.com/tus/tusd/issues/752.

[2022-09-30 12:55] #765 closed

[2022-10-02 08:03] sha4id commented on #446
how to delete these file, any code link?

[2022-10-04 00:25] mshunjan opened #824 "Consuming upload-data as a stream"
**Question**

I'm currently working on a project where we analyze files in chunks, as they are being uploaded. I would like to be able to consume the upload data from a tusd server, as it is being uploaded. Is this possible with tusd?

**Setup details**

Essentially I am using a client-server architecture, where my client slices an upload file and then sends that data to the server in chunks. We h

[2022-10-04 12:19] jonaskaltenbachz commented on #811
Hello,
I just wanted to ask if there is an update on this topic.

Many greetings,
Jonas

[2022-10-04 21:56] Acconut commented on #824
tusd is not design for consuming the uploaded data while the upload is still in progress. You might be able to pull this off by watching the file as you mentioned, but this comes with its own set of challenges. Namely that an upload might be interrupted for some time. During this break, no data will obviously be written to the file, although you could use the post-receive hook to detect upload act

[2022-10-04 22:06] #809 closed

[2022-10-04 22:06] Acconut commented on #809
I just adjusted the regexp for extracting the hostname, so this should be fixed in the next release. Thanks for reporting it!

[2022-10-14 20:16] jeen-github opened #828 "CORS error: TUS upload having incorrect HOST in response Location header"
**Question**
I'm using  `"tus-js-client": "^2.3.2"` in angular application to upload a file to tus server build via tus helm chart.

I'm getting CORS error when i'm availing parallelUpload feature

`Access to XMLHttpRequest at 'https://local.foresight.com/files/3b30e3ee6860f55387e7e31ca98de358+7dbb7a17-059a-4809-8d1f-b04c76efc88e' from origin 'http://localhost:4200' has been blocked by CORS policy

[2022-10-16 19:48] Acconut commented on #828
Did you follow all steps in https://github.com/tus/tusd/blob/master/docs/faq.md#can-i-run-tusd-behind-a-reverse-proxy to configure your proxy?

[2022-10-16 19:49] Acconut commented on #828
I also do not understand this question. Please elaborate more.

[2022-10-17 19:43] jeen-github commented on #828
Many thanks @Acconut for your quick turnaround.

I'm able to override the hostname with `X-Forwarded-Host` header but failed to override protocol 'http' with `X-Forwarded-Proto` header for local development.

`
'X-Forwarded-Host': 'localhost:4200',
'X-Forwarded-Proto': 'http'
`

<img width="524" alt="image" src="https://user-images.githubusercontent.com/31023508/196266699-3f26dd14-7535-40b5-b290-5

[2022-10-18 09:37] Acconut commented on #828
To be honest, I am confused about your setup. You have your angular running at localhost:4200 and the tusd server at local.foresight.com. In front of tusd is some kind of proxy (which one?). Is this correct?

In this case, you need to configure the proxy to set the X-Forwarded-* or Forwarded header, so tusd knows which host and protocol the clients uses to access it through the proxy. Note: basica

[2022-10-18 10:46] Acconut commented on #811
Hi Jonas, please see #814 for my response :)

[2022-10-20 16:16] jeen-github commented on #828
@Acconut  what you said is true, I have angular running at localhost:4200 and the tusd server in azure k8s at local.foresight.com behind ambassador. For some reason i am not able to override protocol using X-Forwarded-Proto but was able to override using **Forwarded** header and CORS error got cleared.

Many thanks for your prompt responses. Much appreciated.

[2022-10-20 16:17] #828 closed

[2022-10-21 10:36] arrowcircle opened #835 "How to distinguish http hooks"
**Question**
Hi! I am trying to understand what hook I received, but post-receive and post-finish HTTP hooks looks exactly the same.
What is the proper way of understanding what hook is sent?

**Setup details**
Please provide following details, if applicable to your situation:
- Operating System: macOS
- Used tusd version: v1.9.2
- Used tusd data storage: Local minio S3
- Used tusd configuration:

[2022-10-21 12:08] Acconut commented on #835
Have a look at the Hook-Name request header, as mentioned in https://github.com/tus/tusd/blob/master/docs/hooks.md#usage.

[2022-10-21 12:28] #835 closed

[2022-10-31 19:06] boris-ning-usds opened #843 "Parallel upload"
**Technical Knowledge of User**
I'm new to using tusd and the tus-js-client, so I'll be happy if anybody can point out any problems in my setup for testing.

**Describe the bug**
While running tusd with an Azure Storage backend, I found that the transfer would always fail on the last HTTP POST with a missing or invalid Upload-Length header. This only occurs when parallel upload (connections) are s

[2022-10-31 21:41] boris-ning-usds commented on #843
Ah, can't tell if this is a bug or if this requires an feature request.
I noticed that tusd with Azure backend do not support the **concatenation** extension:
[code]

[2022-11-03 09:43] geor-g commented on #154
Could people who make use of Grafana share their dashboards?

[2022-11-05 18:10] Acconut commented on #154
In the past five years we actually have started using Grafana to monitor tusd. But I am not sure how we could share some details about our dashboard? Maybe @kvz knows a good way?

[2022-11-05 18:16] geor-g commented on #154
Could you export it, and make the Json available?

[2022-11-05 18:18] Acconut commented on #843
Exactly! The azurestore does not yet support this extension, so `parallelUploads` from tus-js-client cannot be used with azurestore. I do not know who much effort it would be to implement this. Maybe @omBratteng knows more about this?

[2022-11-06 18:12] omBratteng commented on #843
I was looking at implementing it, but I was a bit unsure how to exactly do it. Theoretically, you could upload the chunks in any order you'd like, as long as you know their original order before you commit the blob. So I chose to not implement it at the time.

[2022-11-07 08:46] kvz commented on #154
We have a bunch of other metrics on our dashboard as well, but perhaps we can create a tusd specific dashboard (initially in addition, not as a replacement I would say), export that, evolve it on GitHub with the community and port back patches up- & down stream?

[2022-11-07 08:47] kvz commented on #154
I think there also is some Grafana hosted library where we could have it indexed I believe

[2022-11-07 10:31] geor-g commented on #154
Sounds good. :+1:

[2022-11-07 10:32] geor-g commented on #154
This https://grafana.com/grafana/dashboards/ probably?

[2022-11-07 11:15] kvz commented on #154
Yes apologies, I was on mobile earlier, but that is exactly what I mean :) After sharing with the community and processing feedback, we should put it up there too i think.

[2022-11-15 11:07] geor-g commented on #683
There is an "Request For Package" in Debian: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=1014812 But, as far as I know, no one is working on this, as of now.

[2022-11-15 11:42] kvz commented on #683
I'm thinking of starting an opencollective for tus as an org, and then we could perhaps sponsor a debian maintainer from donations, if any. Would that work, or is that in fact not how any of that works

[2022-11-15 11:50] geor-g commented on #683
This could work, yes. :+1:

[2022-11-15 16:29] kishaningithub commented on #683
I highly recommend using goreleaser for generating artifacts (.Deb, .rpm, Dockerfile, homebrew formulas, snaps etc) and publishing them

https://goreleaser.com/

Yes this tool is opensource and is widely used across several go projects for this purpose 😊

[2022-11-16 14:18] arrowcircle commented on #440
Any updates here?

[2022-11-21 13:09] Acconut commented on #268
@SomeDeveloper13 The tusd v2 branch already contains a flag for controlling the interval of the post-receive hook: https://github.com/tus/tusd/blob/aff352c413066bc5bfa53f6998024b5ef29240f3/cmd/tusd/cli/flags.go#L93

That might be interesting for you.

[2022-11-21 15:23] arrowcircle opened #856 "Slow upload speed"
**Question**
Hey! I have a problem with slow upload speed with tusd, it only speeds up to 20-30 mbit/s, while aws cli copies files to the same bucket from the same client with full 100mbit/s. Is it possible to speed up tusd to use full speed? If yes, how can I understand what is slowing tusd?

**Setup details**
Please provide following details, if applicable to your situation:
- Operating System:

[2022-11-21 17:50] Pontohi commented on #348
While removeFingerprintOnSuccess does work, it would be great to have the ability to re-trigger the completion hooks in one way or another. When uploading 100gb files, it can be a touch bit demoralizing if an API failure forces a full restart of the upload.

[2022-11-22 14:25] Acconut commented on #348
How do you mean that? API failure in the sense that the API which consumes the uploaded file fails and needs to be retried?

[2022-11-22 15:19] Pontohi commented on #348
Yep, that would be the case. TUS will have the full file with all bytes uploaded, but if the API fails to consume the hook we have no choice but to have the user restart.

[2022-11-22 22:01] OlafHaalstra commented on #843
Is there alternatively a way to let the Azure uploading implementation take care of this? Just like `azcopy` utilizes concurrent connections to speed up download/upload.

https://learn.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-optimize#increase-the-number-of-concurrent-requests

[2022-11-22 22:09] omBratteng commented on #843
I'm not sure how azcopy does it in the backend, but I would assume it would know the order of the chunks it breaks the file into. So when it comes to commit the blob, they know the order of the chunks to commit.
Perhaps if there was a way for the tus client to tell the server the order of the chunks, we could then pass that on to Azure when committing the chunk list.

So theoretically if you have

[2022-11-26 12:52] miraculli opened #857 "tus over QUIC"
**Question**

Are there any guides or knowledge regarding support of the new QUIC / HTTP/3-Protocol-Stack?
From what I know about QUIC this should improve transferspeed ?
Is there a way to make use of QUIC with some kind of QUIC-Proxy to tunnel tus/tcp ?

Thanks for your help
--mirac

**Setup details**
Please provide following details, if applicable to your situation:
- Operating System: OpenBSD
-

[2022-11-26 16:39] miraculli commented on #857
I just tested Caddy as reverse-proxy:

Looks like Google Chrome connects over UDP (according to tcpdump output on the server) and Safari doesn't due to lack of QUIC support.
So I tested upload-speed with Safari and Chrome but it was almost the same speed.
Maybe my Wifi or anything below Layer 4 is the bottleneck here...

Ideas ?